In [24]:
import numpy as np
import pandas as pd

In [25]:
a=pd.read_csv('climate Test1.csv')
b=pd.read_csv('Soil Test1.csv')
c=pd.read_csv('groundwater Test1.csv')
d=pd.read_csv('Fertilizers Test1.csv')
e=pd.read_csv('Pesticides Test1.csv')
f=pd.read_csv('Crop data Test1.csv')

In [26]:
climate=pd.DataFrame(a[' Rainfall'])

In [27]:
Soil=pd.DataFrame(b['Ph'])

In [28]:
Water=pd.DataFrame(c['Rise (Depth of Water)'])

In [29]:
Fertilizer=pd.DataFrame(d['NPK(tonnes)'])

In [30]:
Pesticides=pd.DataFrame(e['MALATHION(QTY)(kg)'])

In [31]:
Crop=pd.DataFrame(f['Rice(kg/hectare)'])

In [32]:
Parameterone=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop],axis=1)

In [33]:
Parameterone

,Rainfall,Ph,Rise (Depth of Water),NPK(tonnes),MALATHION(QTY)(kg),Rice(kg/hectare)
0,320123,6,0.81,245,1557,2007
1,320123,7,0.82,246,1558,2008
2,320123,6,0.80,247,1559,2009
3,320123,8,0.84,248,1560,2010
4,320123,7,0.82,249,1561,2011
5,320123,6,0.79,250,1562,2012
6,320123,6,0.82,251,1563,2013
7,320123,7,0.80,252,1564,2014
8,320123,6,0.81,253,1565,2015
9,320123,8,0.82,254,1566,2016
10,240143,7,0.80,255,1567,2017
11,240144,8,0.84,256,1568,1998
12,240145,7,0.82,257,1569,1999
13,240146,6,0.79,258,1570,2000
14,240147,6,0.82,259,1571,2001
15,240148,7,0.80,260,1572,2002
16,240149,6,0.84,261,1573,2003
17,240150,8,0.82,262,1574,2004
18,240151,7,0.79,263,1575,2005
19,240152,6,0.81,264,1576,2006
20,240153,6,0.82,265,1577,2007
21,240154,7,0.80,266,1578,2008
22,240155,6,0.84,267,1579,2009
23,240156,8,0.82,268,1580,2010
24,240157,7,0.79,269,1581,2011
25,240158,6,0.82,270,1582,2012
26,240159,6,0.80,271,1583,2013
27,240160,7,0.84,272,1584,2014
28,240161,6,0.80,273,1585,2015
29,240162,8,0.84,274,1586,2016
30,240163,7,0.82,275,1587,2017

In [34]:
#################AdaBoost Classifier Algorithm##################

X=Parameterone.drop('Rice(kg/hectare)',axis=1)
y=Parameterone['Rice(kg/hectare)']

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.70,random_state=70)

from sklearn.linear_model import SGDClassifier

a=SGDClassifier()

a=a.fit(X_train,y_train)

print(a.score(X_test,y_test)*10)



Crop2=pd.DataFrame(f['Ragi'])
Crop3=pd.DataFrame(f['Small Millets'])
Crop4=pd.DataFrame(f['Tur '])
Crop5=pd.DataFrame(f['Gram'])
Crop6=pd.DataFrame(f['Groundnuts'])
Crop7=pd.DataFrame(f['Sessasum'])
Crop8=pd.DataFrame(f['Sugarcane'])
Crop9=pd.DataFrame(f['Chillies'])
Crop10=pd.DataFrame(f['Ginger'])
Crop11=pd.DataFrame(f['Tumeric'])
Crop12=pd.DataFrame(f['Maize'])
Crop13=pd.DataFrame(f['Potato'])
Crop14=pd.DataFrame(f['Wheat'])
Crop15=pd.DataFrame(f['Other Pulses'])
Crop16=pd.DataFrame(f['Barley'])

Parameteronea=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop2],axis=1)
Parameteroneb=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop3],axis=1)
Parameteronec=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop4],axis=1)
Parameteroned=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop5],axis=1)
Parameteronee=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop6],axis=1)
Parameteronef=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop7],axis=1)
Parameteroneg=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop8],axis=1)
Parameteroneh=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop9],axis=1)
Parameteronei=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop10],axis=1)
Parameteronej=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop11],axis=1)
Parameteronek=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop12],axis=1)
Parameteronel=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop13],axis=1)
Parameteronem=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop14],axis=1)
Parameteronen=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop15],axis=1)
Parameteroneo=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop16],axis=1)


X1=Parameteronea.drop('Ragi',axis=1)
y1=Parameteronea['Ragi']

X2=Parameteroneb.drop('Small Millets',axis=1)
y2=Parameteroneb['Small Millets']

X3=Parameteronec.drop('Tur ',axis=1)
y3=Parameteronec['Tur ']

X4=Parameteroned.drop('Gram',axis=1)
y4=Parameteroned['Gram']

X5=Parameteronee.drop('Groundnuts',axis=1)
y5=Parameteronee['Groundnuts']

X6=Parameteronef.drop('Sessasum',axis=1)
y6=Parameteronef['Sessasum']

X7=Parameteroneg.drop('Sugarcane',axis=1)
y7=Parameteroneg['Sugarcane']

X8=Parameteroneh.drop('Chillies',axis=1)
y8=Parameteroneh['Chillies']

X9=Parameteronei.drop('Ginger',axis=1)
y9=Parameteronei['Ginger']

X10=Parameteronej.drop('Tumeric',axis=1)
y10=Parameteronej['Tumeric']

X11=Parameteronek.drop('Maize',axis=1)
y11=Parameteronek['Maize']

X12=Parameteronel.drop('Potato',axis=1)
y12=Parameteronel['Potato']

X13=Parameteronem.drop('Wheat',axis=1)
y13=Parameteronem['Wheat']

X14=Parameteronen.drop('Other Pulses',axis=1)
y14=Parameteronen['Other Pulses']

X15=Parameteroneo.drop('Barley',axis=1)
y15=Parameteroneo['Barley']

from sklearn.model_selection import train_test_split

X_train1, X_test1, y_train1, y_test1 = train_test_split(X1, y1, test_size=0.70,random_state=70)
X_train2, X_test2, y_train2, y_test2 = train_test_split(X2, y2, test_size=0.70,random_state=70)
X_train3, X_test3, y_train3, y_test3 = train_test_split(X3, y3, test_size=0.70,random_state=70)
X_train4, X_test4, y_train4, y_test4 = train_test_split(X4, y4, test_size=0.70,random_state=70)
X_train5, X_test5, y_train5, y_test5 = train_test_split(X5, y5, test_size=0.70,random_state=70)
X_train6, X_test6, y_train6, y_test6 = train_test_split(X6, y6, test_size=0.70,random_state=70)
X_train7, X_test7, y_train7, y_test7 = train_test_split(X7, y7, test_size=0.70,random_state=70)
X_train8, X_test8, y_train8, y_test8 = train_test_split(X8, y8, test_size=0.70,random_state=70)
X_train9, X_test9, y_train9, y_test9 = train_test_split(X9, y9, test_size=0.70,random_state=70)
X_train10, X_test10, y_train10, y_test10 = train_test_split(X10, y10, test_size=0.70,random_state=70)
X_train11, X_test11, y_train11, y_test11 = train_test_split(X11, y11, test_size=0.70,random_state=70)
X_train12, X_test12, y_train12, y_test12 = train_test_split(X12, y12, test_size=0.70,random_state=70)
X_train13, X_test13, y_train13, y_test13 = train_test_split(X13, y13, test_size=0.70,random_state=70)
X_train14, X_test14, y_train14, y_test14 = train_test_split(X14, y14, test_size=0.70,random_state=70)
X_train15, X_test15, y_train15, y_test15 = train_test_split(X15, y15, test_size=0.70,random_state=70)


from sklearn.linear_model import SGDClassifier


b=SGDClassifier()
c=SGDClassifier()
d=SGDClassifier()
e=SGDClassifier()
f=SGDClassifier()
g=SGDClassifier()
h=SGDClassifier()
i=SGDClassifier()
j=SGDClassifier()
k=SGDClassifier()
l=SGDClassifier()
m=SGDClassifier()
n=SGDClassifier()
o=SGDClassifier()
p=SGDClassifier()


b.fit(X_train1,y_train1)
c.fit(X_train2,y_train2)
d.fit(X_train3,y_train3)
e.fit(X_train4,y_train4)
f.fit(X_train5,y_train5)
g.fit(X_train6,y_train6)
h.fit(X_train7,y_train7)
i.fit(X_train8,y_train8)
j.fit(X_train9,y_train9)
k.fit(X_train10,y_train10)
l.fit(X_train11,y_train11)
m.fit(X_train12,y_train12)
n.fit(X_train13,y_train13)
o.fit(X_train14,y_train14)
p.fit(X_train15,y_train15)


print(b.score(X_test1,y_test1)*10)
print(c.score(X_test2,y_test2)*10)
print(d.score(X_test3,y_test3)*10)
print(e.score(X_test4,y_test4)*10)
print(f.score(X_test5,y_test5)*10)
print(g.score(X_test6,y_test6))
print(h.score(X_test7,y_test7)*10)
print(i.score(X_test8,y_test8))
print(j.score(X_test9,y_test9)*10)
print(k.score(X_test10,y_test10)*10)
print(l.score(X_test11,y_test11))
print(m.score(X_test12,y_test12))
print(n.score(X_test13,y_test13))
print(o.score(X_test14,y_test14)*10)
print(p.score(X_test15,y_test15)*10)

0.0
0.0
0.4545454545454546
0.0
0.0
10.0
0.0
0.0
0.045454545454545456
0.0
0.4545454545454546
0.045454545454545456
0.045454545454545456
0.045454545454545456
0.4545454545454546
0.0