In [27]:
import numpy as np
import pandas as pd

In [28]:
a=pd.read_csv('climate Test1.csv')
b=pd.read_csv('Soil Test1.csv')
c=pd.read_csv('groundwater Test1.csv')
d=pd.read_csv('Fertilizers Test1.csv')
e=pd.read_csv('Pesticides Test1.csv')
f=pd.read_csv('Crop data Test1.csv')

In [29]:
climate=pd.DataFrame(a[' Rainfall'])

In [30]:
Soil=pd.DataFrame(b['Ph'])

In [31]:
Water=pd.DataFrame(c['Rise (Depth of Water)'])

In [32]:
Fertilizer=pd.DataFrame(d['NPK(tonnes)'])

In [33]:
Pesticides=pd.DataFrame(e['MALATHION(QTY)(kg)'])

In [34]:
Crop=pd.DataFrame(f['Rice(kg/hectare)'])

In [35]:
Parameterone=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop],axis=1)

In [36]:
Parameterone

,Rainfall,Ph,Rise (Depth of Water),NPK(tonnes),MALATHION(QTY)(kg),Rice(kg/hectare)
0,9801,6.7,0.45,2484,4595,3285
1,4924,7.0,0.45,2485,4596,3286
2,5258,7.1,0.45,2486,4597,3287
3,6626,7.2,0.45,2487,4598,3288
4,6608,7.3,0.45,2488,4599,3289
5,10464,7.0,0.45,2489,4600,3290
6,7382,7.1,0.45,2490,4601,3291
7,6866,7.2,0.45,2491,4602,3292
8,7651,7.3,0.45,2492,4603,3293
9,7513,8.5,0.45,2493,4604,3294
10,6099,8.1,0.45,2494,4605,3295
11,8061,8.2,0.45,2495,4606,3296
12,9880,6.5,0.45,2496,4607,3297
13,5098,6.6,0.45,2497,4608,3298
14,8308,6.7,0.45,2498,4609,3299
15,5399,7.0,0.45,2499,4610,3300
16,6904,7.1,0.45,2500,4611,3301
17,7201,7.2,0.45,2501,4612,3302
18,5304,7.3,0.45,2502,4613,3285
19,4859,8.5,0.45,2503,4614,3286
20,7152,8.1,0.45,2504,4615,3287
21,11123,6.6,0.45,2505,4616,3288
22,4787,6.7,0.45,2506,4617,3289
23,9407,7.0,0.45,2507,4618,3290
24,6784,7.1,0.45,2508,4619,3291
25,9426,7.2,0.45,2509,4620,3292
26,8292,7.3,0.45,2510,4621,3293
27,7278,8.5,0.45,2511,4622,3294
28,7148,8.1,0.45,2512,4623,3295
29,4897,8.2,0.45,2513,4624,3296
30,8277,6.5,0.45,2514,4625,3297

In [37]:
#################Ada Boost Classifier##################

In [38]:
X=Parameterone.drop('Rice(kg/hectare)',axis=1)
y=Parameterone['Rice(kg/hectare)']

In [39]:
Parameterone.columns

Index([' Rainfall', 'Ph', 'Rise (Depth of Water)', 'NPK(tonnes)',
       'MALATHION(QTY)(kg)', 'Rice(kg/hectare)'],
      dtype='object')

In [40]:
from sklearn.model_selection import train_test_split

In [41]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.70,random_state=70)

In [42]:
from sklearn.neural_network import MLPClassifier

In [43]:
a=MLPClassifier()

In [44]:
a=a.fit(X_train,y_train)

In [45]:
print(a.score(X_test,y_test)*10)

0.4545454545454546

In [46]:
f.columns

Index(['Year', 'Rice(kg/hectare)', 'Tur ', 'Gram', 'Groundnuts', 'Sessasum',
       'Sugarcane', 'Chillies', 'Bajra', 'Maize', 'Cotton', 'Potato', 'Wheat',
       'Other Pulses', 'Barley'],
      dtype='object')

In [47]:
Crop2=pd.DataFrame(f['Tur '])
Crop3=pd.DataFrame(f['Gram'])
Crop4=pd.DataFrame(f['Groundnuts'])
Crop5=pd.DataFrame(f['Sessasum'])
Crop6=pd.DataFrame(f['Sugarcane'])
Crop7=pd.DataFrame(f['Chillies'])
Crop8=pd.DataFrame(f['Bajra'])
Crop9=pd.DataFrame(f['Maize'])
Crop10=pd.DataFrame(f['Cotton'])
Crop11=pd.DataFrame(f['Potato'])
Crop12=pd.DataFrame(f['Wheat'])
Crop13=pd.DataFrame(f['Other Pulses'])
Crop14=pd.DataFrame(f['Barley'])

In [48]:
Parameteronea=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop2],axis=1)
Parameteroneb=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop3],axis=1)
Parameteronec=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop4],axis=1)
Parameteroned=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop5],axis=1)
Parameteronee=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop6],axis=1)
Parameteronef=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop7],axis=1)
Parameteroneg=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop8],axis=1)
Parameteroneh=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop9],axis=1)
Parameteronei=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop10],axis=1)
Parameteronej=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop11],axis=1)
Parameteronek=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop12],axis=1)
Parameteronel=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop13],axis=1)
Parameteronem=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop14],axis=1)

In [49]:
X1=Parameteronea.drop('Tur ',axis=1)
y1=Parameteronea['Tur ']

X2=Parameteroneb.drop('Gram',axis=1)
y2=Parameteroneb['Gram']

X3=Parameteronec.drop('Groundnuts',axis=1)
y3=Parameteronec['Groundnuts']

X4=Parameteroned.drop('Sessasum',axis=1)
y4=Parameteroned['Sessasum']

X5=Parameteronee.drop('Sugarcane',axis=1)
y5=Parameteronee['Sugarcane']

X6=Parameteronef.drop('Chillies',axis=1)
y6=Parameteronef['Chillies']

X7=Parameteroneg.drop('Bajra',axis=1)
y7=Parameteroneg['Bajra']

X8=Parameteroneh.drop('Maize',axis=1)
y8=Parameteroneh['Maize']

X9=Parameteronei.drop('Cotton',axis=1)
y9=Parameteronei['Cotton']

X10=Parameteronej.drop('Potato',axis=1)
y10=Parameteronej['Potato']

X11=Parameteronek.drop('Wheat',axis=1)
y11=Parameteronek['Wheat']

X12=Parameteronel.drop('Other Pulses',axis=1)
y12=Parameteronel['Other Pulses']

X13=Parameteronem.drop('Barley',axis=1)
y13=Parameteronem['Barley']

In [50]:
from sklearn.model_selection import train_test_split

In [51]:
X_train1, X_test1, y_train1, y_test1 = train_test_split(X1, y1, test_size=0.70,random_state=70)
X_train2, X_test2, y_train2, y_test2 = train_test_split(X2, y2, test_size=0.70,random_state=70)
X_train3, X_test3, y_train3, y_test3 = train_test_split(X3, y3, test_size=0.70,random_state=70)
X_train4, X_test4, y_train4, y_test4 = train_test_split(X4, y4, test_size=0.70,random_state=70)
X_train5, X_test5, y_train5, y_test5 = train_test_split(X5, y5, test_size=0.70,random_state=70)
X_train6, X_test6, y_train6, y_test6 = train_test_split(X6, y6, test_size=0.70,random_state=70)
X_train7, X_test7, y_train7, y_test7 = train_test_split(X7, y7, test_size=0.70,random_state=70)
X_train8, X_test8, y_train8, y_test8 = train_test_split(X8, y8, test_size=0.70,random_state=70)
X_train9, X_test9, y_train9, y_test9 = train_test_split(X9, y9, test_size=0.70,random_state=70)
X_train10, X_test10, y_train10, y_test10 = train_test_split(X10, y10, test_size=0.70,random_state=70)
X_train11, X_test11, y_train11, y_test11 = train_test_split(X11, y11, test_size=0.70,random_state=70)
X_train12, X_test12, y_train12, y_test12 = train_test_split(X12, y12, test_size=0.70,random_state=70)
X_train13, X_test13, y_train13, y_test13 = train_test_split(X13, y13, test_size=0.70,random_state=70)

In [52]:
from sklearn.neural_network import MLPClassifier


b=MLPClassifier()
c=MLPClassifier()
d=MLPClassifier()
e=MLPClassifier()
f=MLPClassifier()
g=MLPClassifier()
h=MLPClassifier()
i=MLPClassifier()
j=MLPClassifier()
k=MLPClassifier()
l=MLPClassifier()
m=MLPClassifier()
n=MLPClassifier()

In [53]:
b.fit(X_train1,y_train1)
c.fit(X_train2,y_train2)
d.fit(X_train3,y_train3)
e.fit(X_train4,y_train4)
f.fit(X_train5,y_train5)
g.fit(X_train6,y_train6)
h.fit(X_train7,y_train7)
i.fit(X_train8,y_train8)
j.fit(X_train9,y_train9)
k.fit(X_train10,y_train10)
l.fit(X_train11,y_train11)
m.fit(X_train12,y_train12)
n.fit(X_train13,y_train13)

MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(100,), learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=None,
       shuffle=True, solver='adam', tol=0.0001, validation_fraction=0.1,
       verbose=False, warm_start=False)

In [56]:
print(b.score(X_test1,y_test1)*10)
print(c.score(X_test2,y_test2)*10)
print(d.score(X_test3,y_test3))
print(e.score(X_test4,y_test4)*10)
print(f.score(X_test5,y_test5))
print(g.score(X_test6,y_test6))
print(h.score(X_test7,y_test7)*10)
print(i.score(X_test8,y_test8))
print(j.score(X_test9,y_test9)*10)
print(k.score(X_test10,y_test10)*10)
print(l.score(X_test11,y_test11))
print(m.score(X_test12,y_test12))
print(n.score(X_test13,y_test13))

0.0
0.0
0.045454545454545456
0.4545454545454546
0.045454545454545456
0.5454545454545454
0.4545454545454546
0.09090909090909091
0.4545454545454546
0.9090909090909092
0.045454545454545456
0.0
0.045454545454545456