In [1]:
import numpy as np
import pandas as pd

In [2]:
a=pd.read_csv('AS_climate.csv')
b=pd.read_csv('AS_Soil.csv')
c=pd.read_csv('AS_groundwater.csv')
d=pd.read_csv('AS_Fertilizers.csv')
e=pd.read_csv('AS_Pesticides.csv')
f=pd.read_csv('AS_Crop_data.csv')

In [3]:
climate=pd.DataFrame(a[' Rainfall'])

In [4]:
Soil=pd.DataFrame(b['Ph'])

In [5]:
Water=pd.DataFrame(c['Rise (Depth of Water)'])

In [6]:
Fertilizer=pd.DataFrame(d['NPK(tonnes)'])

In [7]:
Pesticides=pd.DataFrame(e['MALATHION(QTY)(kg)'])

In [8]:
Crop=pd.DataFrame(f['Rice(kg/hectare)'])

In [9]:
Parameterone=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop],axis=1)

In [10]:
Parameterone

,Rainfall,Ph,Rise (Depth of Water),NPK(tonnes),MALATHION(QTY)(kg),Rice(kg/hectare)
0,21951,7,0,350,1664,1656
1,26530,7,1,351,1665,1657
2,19875,7,2,352,1666,1658
3,21754,7,3,353,1667,1659
4,24261,8,4,354,1668,1660
5,22040,7,5,355,1669,1661
6,22654,7,6,356,1670,1662
7,24955,7,7,357,1671,1663
8,23439,8,8,358,1672,1664
9,26571,7,9,359,1673,1665
10,22781,7,10,360,1674,1666
11,25400,7,11,361,1675,1667
12,24890,8,12,362,1676,1668
13,21208,7,13,363,1677,1669
14,28419,7,14,364,1678,1670
15,22396,7,15,365,1679,1671
16,24282,7,16,366,1680,1672
17,21871,7,17,367,1681,1673
18,24591,7,18,368,1682,1674
19,21922,8,19,369,1683,1675
20,22630,7,20,370,1684,1676
21,24020,7,21,371,1685,1677
22,24535,7,22,372,1686,1678
23,25332,8,23,373,1687,1679
24,22209,7,24,374,1688,1680
25,25004,7,25,375,1689,1681
26,26492,7,26,376,1690,1682
27,28273,8,27,377,1691,1683
28,30849,7,28,378,1692,1684
29,26337,7,29,379,1693,1685
...,...,...,...,...,...,...
71,25418,7,71,421,1735,1727
72,22077,8,72,422,1736,1728
73,26282,7,73,423,1737,1729
74,21614,7,74,424,1738,1730
75,27766,7,75,425,1739,1731
76,22905,8,76,426,1740,1732
77,22977,7,77,427,1741,1733
78,23049,7,78,428,1742,1734
79,21724,7,79,429,1743,1735
80,23740,8,80,430,1744,1736
81,22746,7,81,431,1745,1737
82,23470,8,82,432,1746,1738
83,19954,7,83,433,1747,1739
84,22495,7,84,434,1748,1740
85,21744,7,85,435,1749,1741
86,26917,8,86,436,1750,1742
87,23473,7,87,437,1751,1743
88,18246,7,88,438,1752,1744
89,25411,7,89,439,1753,1745
90,22685,7,90,440,1754,1876
91,19327,7,91,441,1755,1545
92,24586,7,92,442,1756,1546
93,17799,8,93,443,1757,1547
94,22680,7,94,444,1758,1548
95,18055,7,95,445,1759,1549
96,18863,7,96,446,1760,1550
97,22773,8,97,447,1761,1551
98,27766,7,98,448,1762,1552
99,22905,7,99,449,1763,1553
100,22977,7,100,450,1764,1554

In [11]:
#################AdaBoost Classifier Algorithm##################

In [12]:
X=Parameterone.drop('Rice(kg/hectare)',axis=1)
y=Parameterone['Rice(kg/hectare)']

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.70,random_state=70)

In [15]:
from sklearn.neural_network import MLPClassifier

In [16]:
a=MLPClassifier()

In [17]:
a.fit(X_train,y_train)

MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(100,), learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=None,
       shuffle=True, solver='adam', tol=0.0001, validation_fraction=0.1,
       verbose=False, warm_start=False)

In [18]:
print(a.score(X_test,y_test)*10)

0.0

In [19]:
f.columns

Index(['Year', 'Rice(kg/hectare)', 'Small Millets', 'Tur ', 'Gram', 'Sessasum',
       'Banana', 'Sugarcane', 'Tobacco', 'Chillies', 'Ginger', 'Tumeric',
       'Maize', 'Potato', 'Wheat', 'Other Pulses', 'Jute ', 'Mesta', 'Pepper',
       'Tea', 'Coconut'],
      dtype='object')

In [20]:
Crop2=pd.DataFrame(f['Small Millets'])
Crop3=pd.DataFrame(f['Tur '])
Crop4=pd.DataFrame(f['Gram'])
Crop5=pd.DataFrame(f['Sessasum'])
Crop6=pd.DataFrame(f['Banana'])
Crop7=pd.DataFrame(f['Sugarcane'])
Crop8=pd.DataFrame(f['Tobacco'])
Crop9=pd.DataFrame(f['Chillies'])
Crop10=pd.DataFrame(f['Ginger'])
Crop11=pd.DataFrame(f['Tumeric'])
Crop12=pd.DataFrame(f['Maize'])
Crop13=pd.DataFrame(f['Potato'])
Crop14=pd.DataFrame(f['Wheat'])
Crop15=pd.DataFrame(f['Other Pulses'])
Crop16=pd.DataFrame(f['Jute '])
Crop17=pd.DataFrame(f['Mesta'])
Crop18=pd.DataFrame(f['Pepper'])
Crop19=pd.DataFrame(f['Tea'])
Crop20=pd.DataFrame(f['Coconut'])

In [21]:
Parameteronea=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop2],axis=1)
Parameteroneb=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop3],axis=1)
Parameteronec=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop4],axis=1)
Parameteroned=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop5],axis=1)
Parameteronee=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop6],axis=1)
Parameteronef=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop7],axis=1)
Parameteroneg=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop8],axis=1)
Parameteroneh=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop9],axis=1)
Parameteronei=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop10],axis=1)
Parameteronej=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop11],axis=1)
Parameteronek=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop12],axis=1)
Parameteronel=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop13],axis=1)
Parameteronem=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop14],axis=1)
Parameteronen=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop15],axis=1)
Parameteroneo=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop16],axis=1)
Parameteronep=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop17],axis=1)
Parameteroneq=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop18],axis=1)
Parameteroner=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop19],axis=1)
Parameterones=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop20],axis=1)

In [22]:
X1=Parameteronea.drop('Small Millets',axis=1)
y1=Parameteronea['Small Millets']

X2=Parameteroneb.drop('Tur ',axis=1)
y2=Parameteroneb['Tur ']

X3=Parameteronec.drop('Gram',axis=1)
y3=Parameteronec['Gram']

X4=Parameteroned.drop('Sessasum',axis=1)
y4=Parameteroned['Sessasum']

X5=Parameteronee.drop('Banana',axis=1)
y5=Parameteronee['Banana']

X6=Parameteronef.drop('Sugarcane',axis=1)
y6=Parameteronef['Sugarcane']

X7=Parameteroneg.drop('Tobacco',axis=1)
y7=Parameteroneg['Tobacco']

X8=Parameteroneh.drop('Chillies',axis=1)
y8=Parameteroneh['Chillies']

X9=Parameteronei.drop('Ginger',axis=1)
y9=Parameteronei['Ginger']

X10=Parameteronej.drop('Tumeric',axis=1)
y10=Parameteronej['Tumeric']

X11=Parameteronek.drop('Maize',axis=1)
y11=Parameteronek['Maize']

X12=Parameteronel.drop('Potato',axis=1)
y12=Parameteronel['Potato']

X13=Parameteronem.drop('Wheat',axis=1)
y13=Parameteronem['Wheat']

X14=Parameteronen.drop('Other Pulses',axis=1)
y14=Parameteronen['Other Pulses']

X15=Parameteroneo.drop('Jute ',axis=1)
y15=Parameteroneo['Jute ']

X16=Parameteronep.drop('Mesta',axis=1)
y16=Parameteronep['Mesta']

X17=Parameteroneq.drop('Pepper',axis=1)
y17=Parameteroneq['Pepper']

X18=Parameteroner.drop('Tea',axis=1)
y18=Parameteroner['Tea']

X19=Parameterones.drop('Coconut',axis=1)
y19=Parameterones['Coconut']

In [23]:
from sklearn.model_selection import train_test_split

In [24]:
X_train1, X_test1, y_train1, y_test1 = train_test_split(X1, y1, test_size=0.70,random_state=70)
X_train2, X_test2, y_train2, y_test2 = train_test_split(X2, y2, test_size=0.70,random_state=70)
X_train3, X_test3, y_train3, y_test3 = train_test_split(X3, y3, test_size=0.70,random_state=70)
X_train4, X_test4, y_train4, y_test4 = train_test_split(X4, y4, test_size=0.70,random_state=70)
X_train5, X_test5, y_train5, y_test5 = train_test_split(X5, y5, test_size=0.70,random_state=70)
X_train6, X_test6, y_train6, y_test6 = train_test_split(X6, y6, test_size=0.70,random_state=70)
X_train7, X_test7, y_train7, y_test7 = train_test_split(X7, y7, test_size=0.70,random_state=70)
X_train8, X_test8, y_train8, y_test8 = train_test_split(X8, y8, test_size=0.70,random_state=70)
X_train9, X_test9, y_train9, y_test9 = train_test_split(X9, y9, test_size=0.70,random_state=70)
X_train10, X_test10, y_train10, y_test10 = train_test_split(X10, y10, test_size=0.70,random_state=70)
X_train11, X_test11, y_train11, y_test11 = train_test_split(X11, y11, test_size=0.70,random_state=70)
X_train12, X_test12, y_train12, y_test12 = train_test_split(X12, y12, test_size=0.70,random_state=70)
X_train13, X_test13, y_train13, y_test13 = train_test_split(X13, y13, test_size=0.70,random_state=70)
X_train14, X_test14, y_train14, y_test14 = train_test_split(X14, y14, test_size=0.70,random_state=70)
X_train15, X_test15, y_train15, y_test15 = train_test_split(X15, y15, test_size=0.70,random_state=70)
X_train16, X_test16, y_train16, y_test16 = train_test_split(X16, y16, test_size=0.70,random_state=70)
X_train17, X_test17, y_train17, y_test17 = train_test_split(X17, y17, test_size=0.70,random_state=70)
X_train18, X_test18, y_train18, y_test18 = train_test_split(X18, y18, test_size=0.70,random_state=70)
X_train19, X_test19, y_train19, y_test19 = train_test_split(X19, y19, test_size=0.70,random_state=70)

In [25]:
from sklearn.neural_network import MLPClassifier

In [26]:
b=MLPClassifier()
c=MLPClassifier()
d=MLPClassifier()
e=MLPClassifier()
f=MLPClassifier()
g=MLPClassifier()
h=MLPClassifier()
i=MLPClassifier()
j=MLPClassifier()
k=MLPClassifier()
l=MLPClassifier()
m=MLPClassifier()
n=MLPClassifier()
o=MLPClassifier()
p=MLPClassifier()
q=MLPClassifier()
r=MLPClassifier()
s=MLPClassifier()
t=MLPClassifier()

In [27]:
b.fit(X_train1,y_train1)
c.fit(X_train2,y_train2)
d.fit(X_train3,y_train3)
e.fit(X_train4,y_train4)
f.fit(X_train5,y_train5)
g.fit(X_train6,y_train6)
h.fit(X_train7,y_train7)
i.fit(X_train8,y_train8)
j.fit(X_train9,y_train9)
k.fit(X_train10,y_train10)
l.fit(X_train11,y_train11)
m.fit(X_train12,y_train12)
n.fit(X_train13,y_train13)
o.fit(X_train14,y_train14)
p.fit(X_train15,y_train15)
q.fit(X_train16,y_train16)
r.fit(X_train17,y_train17)
s.fit(X_train18,y_train18)
t.fit(X_train19,y_train19)

MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(100,), learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=None,
       shuffle=True, solver='adam', tol=0.0001, validation_fraction=0.1,
       verbose=False, warm_start=False)

In [28]:
print(b.score(X_test1,y_test1)*10)
print(c.score(X_test2,y_test2)*10)
print(d.score(X_test3,y_test3)*10)
print(e.score(X_test4,y_test4)*10)
print(f.score(X_test5,y_test5)*10)
print(g.score(X_test6,y_test6))
print(h.score(X_test7,y_test7)*10)
print(i.score(X_test8,y_test8))
print(j.score(X_test9,y_test9)*10)
print(k.score(X_test10,y_test10)*10)
print(l.score(X_test11,y_test11)*10)
print(m.score(X_test12,y_test12))
print(n.score(X_test13,y_test13))
print(o.score(X_test14,y_test14)*10)
print(p.score(X_test15,y_test15)*10)
print(q.score(X_test16,y_test16))
print(r.score(X_test17,y_test17)*10)
print(s.score(X_test18,y_test18)*10)

0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.8873239436619719
0.0
0.14084507042253522
0.0
0.8873239436619719
0.0
0.0
0.0
0.0
8.873239436619718
0.0