In [1]:
import numpy as np
import pandas as pd

In [2]:
a=pd.read_csv('climate Test1.csv')
b=pd.read_csv('Soil Test1.csv')
c=pd.read_csv('groundwater Test1.csv')
d=pd.read_csv('Fertilizers Test1.csv')
e=pd.read_csv('Pesticides Test1.csv')
f=pd.read_csv('Crop data Test1.csv')

In [3]:
climate=pd.DataFrame(a[' Rainfall'])

In [4]:
Soil=pd.DataFrame(b['Ph'])

In [5]:
Water=pd.DataFrame(c['Rise (Depth of Water)'])

In [6]:
Fertilizer=pd.DataFrame(d['NPK(tonnes)'])

In [7]:
Pesticides=pd.DataFrame(e['MALATHION(QTY)(kg)'])

In [8]:
Crop=pd.DataFrame(f['Rice(kg/hectare)'])

In [9]:
Parameterone=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop],axis=1)

In [10]:
Parameterone

,Rainfall,Ph,Rise (Depth of Water),NPK(tonnes),MALATHION(QTY)(kg),Rice(kg/hectare)
0,5625,8.5,0.59,1370,3469,2083
1,3559,6.7,0.59,1371,3470,2467
2,5294,6.8,0.59,1372,3471,2467
3,5920,8.0,0.59,1373,3472,2245
4,5547,8.1,0.59,1374,3473,2467
5,6505,8.5,0.59,1375,3474,2180
6,6895,6.7,0.59,1376,3475,2083
7,6144,6.8,0.59,1377,3476,2156
8,6976,8.0,0.59,1378,3477,2245
9,5356,8.1,0.59,1379,3478,2245
10,7716,6.8,0.59,1380,3479,2467
11,6367,8.0,0.59,1381,3480,2180
12,5433,8.1,0.59,1382,3481,2083
13,5875,8.5,0.59,1383,3482,2156
14,7618,6.7,0.59,1384,3483,2245
15,3998,6.8,0.59,1385,3484,2467
16,6426,8.0,0.59,1386,3485,2180
17,7102,6.6,0.59,1387,3486,2083
18,5263,6.7,0.59,1388,3487,2467
19,5504,6.8,0.59,1389,3488,2156
20,5753,8.0,0.59,1390,3489,2245
21,6420,8.1,0.59,1391,3490,2245
22,4985,8.5,0.59,1392,3491,2245
23,5593,6.7,0.59,1393,3492,2467
24,3696,6.8,0.59,1394,3493,2180
25,8471,8.0,0.59,1395,3494,2083
26,7463,8.1,0.59,1396,3495,2156
27,6953,6.8,0.59,1397,3496,2245
28,7205,8.0,0.59,1398,3497,2245
29,4358,8.1,0.59,1399,3498,2467
30,6080,8.5,0.59,1400,3499,2180

In [11]:
#################Ada Boost Classifier##################

In [12]:
X=Parameterone.drop('Rice(kg/hectare)',axis=1)
y=Parameterone['Rice(kg/hectare)']

In [13]:
Parameterone.columns

Index([' Rainfall', 'Ph', 'Rise (Depth of Water)', 'NPK(tonnes)',
       'MALATHION(QTY)(kg)', 'Rice(kg/hectare)'],
      dtype='object')

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.70,random_state=70)

In [16]:
from sklearn.neural_network import MLPClassifier

In [17]:
a=MLPClassifier()

In [18]:
a=a.fit(X_train,y_train)

In [19]:
print(a.score(X_test,y_test)*10)

1.8181818181818183

In [20]:
f.columns

Index(['Year', 'Rice(kg/hectare)', 'Tur ', 'Gram', 'Groundnuts', 'Sessasum',
       'Sugarcane', 'Chillies', 'Ginger', 'Tumeric', 'Maize', 'Potato',
       'Wheat', 'Other Pulses', 'Barley', 'Jowar', 'Bajra', 'Cotton'],
      dtype='object')

In [21]:
Crop2=pd.DataFrame(f['Tur '])
Crop3=pd.DataFrame(f['Gram'])
Crop4=pd.DataFrame(f['Groundnuts'])
Crop5=pd.DataFrame(f['Sessasum'])
Crop6=pd.DataFrame(f['Sugarcane'])
Crop7=pd.DataFrame(f['Chillies'])
Crop8=pd.DataFrame(f['Ginger'])
Crop9=pd.DataFrame(f['Tumeric'])
Crop10=pd.DataFrame(f['Maize'])
Crop11=pd.DataFrame(f['Potato'])
Crop12=pd.DataFrame(f['Wheat'])
Crop13=pd.DataFrame(f['Other Pulses'])
Crop14=pd.DataFrame(f['Barley'])
Crop15=pd.DataFrame(f['Jowar'])
Crop16=pd.DataFrame(f['Bajra'])
Crop17=pd.DataFrame(f['Cotton'])

In [22]:
Parameteronea=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop2],axis=1)
Parameteroneb=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop3],axis=1)
Parameteronec=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop4],axis=1)
Parameteroned=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop5],axis=1)
Parameteronee=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop6],axis=1)
Parameteronef=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop7],axis=1)
Parameteroneg=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop8],axis=1)
Parameteroneh=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop9],axis=1)
Parameteronei=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop10],axis=1)
Parameteronej=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop11],axis=1)
Parameteronek=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop12],axis=1)
Parameteronel=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop13],axis=1)
Parameteronem=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop14],axis=1)
Parameteronen=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop15],axis=1)
Parameteroneo=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop16],axis=1)
Parameteronep=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop17],axis=1)

In [23]:
X1=Parameteronea.drop('Tur ',axis=1)
y1=Parameteronea['Tur ']

X2=Parameteroneb.drop('Gram',axis=1)
y2=Parameteroneb['Gram']

X3=Parameteronec.drop('Groundnuts',axis=1)
y3=Parameteronec['Groundnuts']

X4=Parameteroned.drop('Sessasum',axis=1)
y4=Parameteroned['Sessasum']

X5=Parameteronee.drop('Sugarcane',axis=1)
y5=Parameteronee['Sugarcane']

X6=Parameteronef.drop('Chillies',axis=1)
y6=Parameteronef['Chillies']

X7=Parameteroneg.drop('Ginger',axis=1)
y7=Parameteroneg['Ginger']

X8=Parameteroneh.drop('Tumeric',axis=1)
y8=Parameteroneh['Tumeric']

X9=Parameteronei.drop('Maize',axis=1)
y9=Parameteronei['Maize']

X10=Parameteronej.drop('Potato',axis=1)
y10=Parameteronej['Potato']

X11=Parameteronek.drop('Wheat',axis=1)
y11=Parameteronek['Wheat']

X12=Parameteronel.drop('Other Pulses',axis=1)
y12=Parameteronel['Other Pulses']

X13=Parameteronem.drop('Barley',axis=1)
y13=Parameteronem['Barley']

X14=Parameteronen.drop('Jowar',axis=1)
y14=Parameteronen['Jowar']

X15=Parameteroneo.drop('Bajra',axis=1)
y15=Parameteroneo['Bajra']

X16=Parameteronep.drop('Cotton',axis=1)
y16=Parameteronep['Cotton']

In [24]:
from sklearn.model_selection import train_test_split

In [25]:
X_train1, X_test1, y_train1, y_test1 = train_test_split(X1, y1, test_size=0.70,random_state=70)
X_train2, X_test2, y_train2, y_test2 = train_test_split(X2, y2, test_size=0.70,random_state=70)
X_train3, X_test3, y_train3, y_test3 = train_test_split(X3, y3, test_size=0.70,random_state=70)
X_train4, X_test4, y_train4, y_test4 = train_test_split(X4, y4, test_size=0.70,random_state=70)
X_train5, X_test5, y_train5, y_test5 = train_test_split(X5, y5, test_size=0.70,random_state=70)
X_train6, X_test6, y_train6, y_test6 = train_test_split(X6, y6, test_size=0.70,random_state=70)
X_train7, X_test7, y_train7, y_test7 = train_test_split(X7, y7, test_size=0.70,random_state=70)
X_train8, X_test8, y_train8, y_test8 = train_test_split(X8, y8, test_size=0.70,random_state=70)
X_train9, X_test9, y_train9, y_test9 = train_test_split(X9, y9, test_size=0.70,random_state=70)
X_train10, X_test10, y_train10, y_test10 = train_test_split(X10, y10, test_size=0.70,random_state=70)
X_train11, X_test11, y_train11, y_test11 = train_test_split(X11, y11, test_size=0.70,random_state=70)
X_train12, X_test12, y_train12, y_test12 = train_test_split(X12, y12, test_size=0.70,random_state=70)
X_train13, X_test13, y_train13, y_test13 = train_test_split(X13, y13, test_size=0.70,random_state=70)
X_train14, X_test14, y_train14, y_test14 = train_test_split(X14, y14, test_size=0.70,random_state=70)
X_train15, X_test15, y_train15, y_test15 = train_test_split(X15, y15, test_size=0.70,random_state=70)
X_train16, X_test16, y_train16, y_test16 = train_test_split(X16, y16, test_size=0.70,random_state=70)

In [26]:
from sklearn.neural_network import MLPClassifier

In [27]:
b=MLPClassifier()
c=MLPClassifier()
d=MLPClassifier()
e=MLPClassifier()
f=MLPClassifier()
g=MLPClassifier()
h=MLPClassifier()
i=MLPClassifier()
j=MLPClassifier()
k=MLPClassifier()
l=MLPClassifier()
m=MLPClassifier()
n=MLPClassifier()
o=MLPClassifier()
p=MLPClassifier()
q=MLPClassifier()

In [28]:
b.fit(X_train1,y_train1)
c.fit(X_train2,y_train2)
d.fit(X_train3,y_train3)
e.fit(X_train4,y_train4)
f.fit(X_train5,y_train5)
g.fit(X_train6,y_train6)
h.fit(X_train7,y_train7)
i.fit(X_train8,y_train8)
j.fit(X_train9,y_train9)
k.fit(X_train10,y_train10)
l.fit(X_train11,y_train11)
m.fit(X_train12,y_train12)
n.fit(X_train13,y_train13)
o.fit(X_train14,y_train14)
p.fit(X_train15,y_train15)
q.fit(X_train16,y_train16)

MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(100,), learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=None,
       shuffle=True, solver='adam', tol=0.0001, validation_fraction=0.1,
       verbose=False, warm_start=False)

In [29]:
print(b.score(X_test1,y_test1)*10)
print(c.score(X_test2,y_test2)*10)
print(d.score(X_test3,y_test3))
print(e.score(X_test4,y_test4)*10)
print(f.score(X_test5,y_test5))
print(g.score(X_test6,y_test6))
print(h.score(X_test7,y_test7)*10)
print(i.score(X_test8,y_test8))
print(j.score(X_test9,y_test9)*10)
print(k.score(X_test10,y_test10)*10)
print(l.score(X_test11,y_test11))
print(m.score(X_test12,y_test12))
print(n.score(X_test13,y_test13))
print(o.score(X_test14,y_test14)*10)
print(p.score(X_test15,y_test15))
print(q.score(X_test16,y_test16))

0.9090909090909092
3.6363636363636367
0.13636363636363635
1.8181818181818183
0.3181818181818182
0.09090909090909091
1.8181818181818183
0.13636363636363635
1.8181818181818183
2.727272727272727
0.3181818181818182
0.3181818181818182
0.18181818181818182
1.3636363636363635
0.3181818181818182
0.18181818181818182