In [1]:
import numpy as np
import pandas as pd

In [2]:
a=pd.read_csv('climate Test1.csv')
b=pd.read_csv('Soil Test1.csv')
c=pd.read_csv('groundwater Test1.csv')
d=pd.read_csv('Fertilizers Test1.csv')
e=pd.read_csv('Pesticides Test1.csv')
f=pd.read_csv('Crop data Test1.csv')

In [3]:
climate=pd.DataFrame(a[' Rainfall'])

In [4]:
Soil=pd.DataFrame(b['Ph'])

In [5]:
Water=pd.DataFrame(c['Rise (Depth of Water)'])

In [6]:
Fertilizer=pd.DataFrame(d['NPK(tonnes)'])

In [7]:
Pesticides=pd.DataFrame(e['MALATHION(QTY)(kg)'])

In [8]:
Crop=pd.DataFrame(f['Rice(kg/hectare)'])

In [9]:
Parameterone=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop],axis=1)

In [10]:
Parameterone

,Rainfall,Ph,Rise (Depth of Water),NPK(tonnes),MALATHION(QTY)(kg),Rice(kg/hectare)
0,1268,8.0,30.15,170,84,1924
1,1269,9.0,31.15,171,85,1925
2,1270,7.0,32.15,172,86,1926
3,1271,8.0,33.15,173,87,1927
4,1272,9.0,34.15,174,88,1928
5,1273,7.2,35.15,175,89,1929
6,1274,8.3,36.15,176,90,1930
7,1275,9.1,37.15,177,91,1931
8,1276,8.0,38.15,178,92,1932
9,1277,9.0,39.15,179,93,1933
10,1278,7.2,40.15,180,94,1934
11,1279,8.3,41.15,181,95,1935
12,1280,9.0,42.15,182,96,1936
13,1281,7.2,43.15,183,97,1937
14,1282,8.3,44.15,184,98,1938
15,1283,9.1,45.15,185,99,1939
16,1284,8.0,46.15,186,100,1940
17,1285,9.0,47.15,187,101,1941
18,1286,7.2,48.15,188,102,1942
19,1287,8.0,49.15,189,103,1943
20,1288,9.0,50.15,190,104,1944
21,1289,7.2,51.15,191,105,1945
22,1290,8.3,52.15,192,106,1946
23,1291,9.1,53.15,193,107,1947
24,1292,7.2,54.15,194,108,1948
25,1293,8.3,55.15,195,109,1949
26,1294,9.1,56.15,196,110,1950
27,1295,8.0,57.15,197,111,1951
28,1296,9.0,58.15,198,112,1952
29,1297,7.2,59.15,199,113,1953
30,1298,8.3,60.15,200,114,1954

In [11]:
#################AdaBoost Classifier Algorithm##################

X=Parameterone.drop('Rice(kg/hectare)',axis=1)
y=Parameterone['Rice(kg/hectare)']

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.70,random_state=70)

from sklearn.linear_model import SGDClassifier

a=SGDClassifier()

a=a.fit(X_train,y_train)

print(a.score(X_test,y_test)*10)

f.columns

Crop2=pd.DataFrame(f['Jowar'])
Crop3=pd.DataFrame(f['Small Millets'])
Crop4=pd.DataFrame(f['Gram'])
Crop5=pd.DataFrame(f['Sessasum'])
Crop6=pd.DataFrame(f['Sugarcane'])
Crop7=pd.DataFrame(f['Chillies'])
Crop8=pd.DataFrame(f['Ginger'])
Crop9=pd.DataFrame(f['Tumeric'])
Crop10=pd.DataFrame(f['Bajra'])
Crop11=pd.DataFrame(f['Maize'])
Crop12=pd.DataFrame(f['Potato'])
Crop13=pd.DataFrame(f['Wheat'])
Crop14=pd.DataFrame(f['Other Pulses'])
Crop15=pd.DataFrame(f['Barley'])

Parameteronea=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop2],axis=1)
Parameteroneb=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop3],axis=1)
Parameteronec=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop4],axis=1)
Parameteroned=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop5],axis=1)
Parameteronee=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop6],axis=1)
Parameteronef=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop7],axis=1)
Parameteroneg=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop8],axis=1)
Parameteroneh=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop9],axis=1)
Parameteronei=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop10],axis=1)
Parameteronej=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop11],axis=1)
Parameteronek=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop12],axis=1)
Parameteronel=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop13],axis=1)
Parameteronem=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop14],axis=1)
Parameteronen=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop15],axis=1)


X1=Parameteronea.drop('Jowar',axis=1)
y1=Parameteronea['Jowar']

X2=Parameteroneb.drop('Small Millets',axis=1)
y2=Parameteroneb['Small Millets']

X3=Parameteronec.drop('Gram',axis=1)
y3=Parameteronec['Gram']

X4=Parameteroned.drop('Sessasum',axis=1)
y4=Parameteroned['Sessasum']

X5=Parameteronee.drop('Sugarcane',axis=1)
y5=Parameteronee['Sugarcane']

X6=Parameteronef.drop('Chillies',axis=1)
y6=Parameteronef['Chillies']

X7=Parameteroneg.drop('Ginger',axis=1)
y7=Parameteroneg['Ginger']

X8=Parameteroneh.drop('Tumeric',axis=1)
y8=Parameteroneh['Tumeric']

X9=Parameteronei.drop('Bajra',axis=1)
y9=Parameteronei['Bajra']

X10=Parameteronej.drop('Maize',axis=1)
y10=Parameteronej['Maize']

X11=Parameteronek.drop('Potato',axis=1)
y11=Parameteronek['Potato']

X12=Parameteronel.drop('Wheat',axis=1)
y12=Parameteronel['Wheat']

X13=Parameteronem.drop('Other Pulses',axis=1)
y13=Parameteronem['Other Pulses']

X14=Parameteronen.drop('Barley',axis=1)
y14=Parameteronen['Barley']

from sklearn.model_selection import train_test_split

X_train1, X_test1, y_train1, y_test1 = train_test_split(X1, y1, test_size=0.70,random_state=70)
X_train2, X_test2, y_train2, y_test2 = train_test_split(X2, y2, test_size=0.70,random_state=70)
X_train3, X_test3, y_train3, y_test3 = train_test_split(X3, y3, test_size=0.70,random_state=70)
X_train4, X_test4, y_train4, y_test4 = train_test_split(X4, y4, test_size=0.70,random_state=70)
X_train5, X_test5, y_train5, y_test5 = train_test_split(X5, y5, test_size=0.70,random_state=70)
X_train6, X_test6, y_train6, y_test6 = train_test_split(X6, y6, test_size=0.70,random_state=70)
X_train7, X_test7, y_train7, y_test7 = train_test_split(X7, y7, test_size=0.70,random_state=70)
X_train8, X_test8, y_train8, y_test8 = train_test_split(X8, y8, test_size=0.70,random_state=70)
X_train9, X_test9, y_train9, y_test9 = train_test_split(X9, y9, test_size=0.70,random_state=70)
X_train10, X_test10, y_train10, y_test10 = train_test_split(X10, y10, test_size=0.70,random_state=70)
X_train11, X_test11, y_train11, y_test11 = train_test_split(X11, y11, test_size=0.70,random_state=70)
X_train12, X_test12, y_train12, y_test12 = train_test_split(X12, y12, test_size=0.70,random_state=70)
X_train13, X_test13, y_train13, y_test13 = train_test_split(X13, y13, test_size=0.70,random_state=70)
X_train14, X_test14, y_train14, y_test14 = train_test_split(X14, y14, test_size=0.70,random_state=70)



from sklearn.linear_model import SGDClassifier


b=SGDClassifier()
c=SGDClassifier()
d=SGDClassifier()
e=SGDClassifier()
f=SGDClassifier()
g=SGDClassifier()
h=SGDClassifier()
i=SGDClassifier()
j=SGDClassifier()
k=SGDClassifier()
l=SGDClassifier()
m=SGDClassifier()
n=SGDClassifier()
o=SGDClassifier()


b.fit(X_train1,y_train1)
c.fit(X_train2,y_train2)
d.fit(X_train3,y_train3)
e.fit(X_train4,y_train4)
f.fit(X_train5,y_train5)
g.fit(X_train6,y_train6)
h.fit(X_train7,y_train7)
i.fit(X_train8,y_train8)
j.fit(X_train9,y_train9)
k.fit(X_train10,y_train10)
l.fit(X_train11,y_train11)
m.fit(X_train12,y_train12)
n.fit(X_train13,y_train13)
o.fit(X_train14,y_train14)


print(b.score(X_test1,y_test1)*10)
print(c.score(X_test2,y_test2)*10)
print(d.score(X_test3,y_test3)*10)
print(e.score(X_test4,y_test4)*10)
print(f.score(X_test5,y_test5)*10)
print(g.score(X_test6,y_test6))
print(h.score(X_test7,y_test7)*10)
print(i.score(X_test8,y_test8))
print(j.score(X_test9,y_test9)*10)
print(k.score(X_test10,y_test10)*10)
print(l.score(X_test11,y_test11))
print(m.score(X_test12,y_test12))
print(n.score(X_test13,y_test13))
print(o.score(X_test14,y_test14)*10)

0.0
0.0
10.0
0.0
0.0
0.0
1.0
10.0
1.0
0.0
0.0
0.0
0.0
0.0
0.0