In [1]:
import numpy as np
import pandas as pd

In [2]:
a=pd.read_csv('climate Test1.csv')
b=pd.read_csv('Soil Test1.csv')
c=pd.read_csv('groundwater Test1.csv')
d=pd.read_csv('Fertilizers Test1.csv')
e=pd.read_csv('Pesticides Test1.csv')
f=pd.read_csv('Crop data Test1.csv')

In [3]:
climate=pd.DataFrame(a[' Rainfall'])

In [4]:
Soil=pd.DataFrame(b['Ph'])

In [5]:
Water=pd.DataFrame(c['Rise (Depth of Water)'])

In [6]:
Fertilizer=pd.DataFrame(d['NPK(tonnes)'])

In [7]:
Pesticides=pd.DataFrame(e['MALATHION(QTY)(kg)'])

In [8]:
Crop=pd.DataFrame(f['Rice(kg/hectare)'])

In [9]:
Parameterone=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop],axis=1)

In [10]:
Parameterone

,Rainfall,Ph,Rise (Depth of Water),NPK(tonnes),MALATHION(QTY)(kg),Rice(kg/hectare)
0,8806,7.0,0.5,1178,1980,1343
1,6358,8.0,0.5,1578,1890,1278
2,8686,6.6,0.5,1489,1760,1409
3,8173,8.0,0.5,1178,9000,1105
4,10754,6.6,0.5,1578,7890,1343
5,11284,6.7,0.5,1489,7567,1278
6,10746,6.8,0.5,1400,5672,1409
7,8766,7.0,0.5,1178,2100,1105
8,11090,8.0,0.5,1578,1980,1343
9,11897,6.6,0.5,1178,1890,1278
10,8954,6.7,0.5,1578,1760,1409
11,14209,6.8,0.5,1489,9000,1343
12,8882,8.0,0.5,1400,7890,1278
13,9227,6.6,0.5,1178,7567,1409
14,9209,6.7,0.5,1578,1980,1343
15,6683,6.8,0.5,1489,1890,1278
16,6507,7.0,0.5,1178,1760,1409
17,10053,8.0,0.5,1400,9000,1105
18,8654,6.6,0.5,1178,7890,1343
19,10792,6.7,0.5,1578,7567,1278
20,10768,6.6,0.5,1178,5672,1409
21,11059,6.7,0.5,1578,2100,1343
22,7516,6.8,0.5,1489,1980,1278
23,13645,7.0,0.5,1400,1890,1409
24,8787,8.0,0.5,1178,1760,1105
25,10208,6.6,0.5,1578,1760,1343
26,10608,6.7,0.5,1489,9000,1278
27,10902,6.8,0.5,1178,7890,1409
28,11026,8.0,0.5,1578,7567,1343
29,7821,6.6,0.5,1489,5672,1278
30,8640,6.7,0.5,1400,2100,1409

In [11]:
#################Ada Boost Classifier##################

In [12]:
X=Parameterone.drop('Rice(kg/hectare)',axis=1)
y=Parameterone['Rice(kg/hectare)']

In [13]:
Parameterone.columns

Index([' Rainfall', 'Ph', 'Rise (Depth of Water)', 'NPK(tonnes)',
       'MALATHION(QTY)(kg)', 'Rice(kg/hectare)'],
      dtype='object')

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.70,random_state=70)

In [16]:
from sklearn.naive_bayes import BernoulliNB

In [17]:
a=BernoulliNB()

In [18]:
a=a.fit(X_train,y_train)

In [19]:
print(a.score(X_test,y_test)*10)

4.090909090909091

In [20]:
f.columns

Index(['Year', 'Rice(kg/hectare)', 'Jowar', 'Ragi', 'Small Millets', 'Tur ',
       'Gram', 'Groundnuts', 'Sessasum', 'Banana', 'Sugarcane', 'Tobacco',
       'Chillies', 'Ginger', 'Tumeric', 'Bajra', 'Maize', 'Cotton', 'Potato',
       'Wheat', 'Other Pulses', 'Barley', 'Jute ', 'Mesta'],
      dtype='object')

In [23]:
Crop2=pd.DataFrame(f['Jowar'])
Crop3=pd.DataFrame(f['Ragi'])
Crop4=pd.DataFrame(f['Small Millets'])
Crop5=pd.DataFrame(f['Tur '])
Crop6=pd.DataFrame(f['Groundnuts'])
Crop7=pd.DataFrame(f['Sessasum'])
Crop8=pd.DataFrame(f['Banana'])
Crop9=pd.DataFrame(f['Sugarcane'])
Crop10=pd.DataFrame(f['Tobacco'])
Crop11=pd.DataFrame(f['Chillies'])
Crop12=pd.DataFrame(f['Ginger'])
Crop13=pd.DataFrame(f['Tumeric'])
Crop14=pd.DataFrame(f['Bajra'])
Crop15=pd.DataFrame(f['Maize'])
Crop16=pd.DataFrame(f['Cotton'])
Crop17=pd.DataFrame(f['Potato'])
Crop18=pd.DataFrame(f['Wheat'])
Crop19=pd.DataFrame(f['Other Pulses'])
Crop20=pd.DataFrame(f['Barley'])
Crop21=pd.DataFrame(f['Jute '])
Crop22=pd.DataFrame(f['Mesta'])

In [24]:
Parameteronea=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop2],axis=1)
Parameteroneb=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop3],axis=1)
Parameteronec=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop4],axis=1)
Parameteroned=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop5],axis=1)
Parameteronee=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop6],axis=1)
Parameteronef=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop7],axis=1)
Parameteroneg=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop8],axis=1)
Parameteroneh=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop9],axis=1)
Parameteronei=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop10],axis=1)
Parameteronej=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop11],axis=1)
Parameteronek=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop12],axis=1)
Parameteronel=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop13],axis=1)
Parameteronem=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop14],axis=1)
Parameteronen=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop15],axis=1)
Parameteroneo=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop16],axis=1)
Parameteronep=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop17],axis=1)
Parameteroneq=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop18],axis=1)
Parameteroner=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop19],axis=1)
Parameterones=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop20],axis=1)
Parameteronet=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop21],axis=1)
Parameteroneu=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop22],axis=1)

In [25]:
X2=Parameteronea.drop('Jowar',axis=1)
y2=Parameteronea['Jowar']

X3=Parameteroneb.drop('Ragi',axis=1)
y3=Parameteroneb['Ragi']

X4=Parameteronec.drop('Small Millets',axis=1)
y4=Parameteronec['Small Millets']

X5=Parameteroned.drop('Tur ',axis=1)
y5=Parameteroned['Tur ']

X6=Parameteronee.drop('Groundnuts',axis=1)
y6=Parameteronee['Groundnuts']

X7=Parameteronef.drop('Sessasum',axis=1)
y7=Parameteronef['Sessasum']

X8=Parameteroneg.drop('Banana',axis=1)
y8=Parameteroneg['Banana']

X9=Parameteroneh.drop('Sugarcane',axis=1)
y9=Parameteroneh['Sugarcane']

X10=Parameteronei.drop('Tobacco',axis=1)
y10=Parameteronei['Tobacco']

X11=Parameteronej.drop('Chillies',axis=1)
y11=Parameteronej['Chillies']

X12=Parameteronek.drop('Ginger',axis=1)
y12=Parameteronek['Ginger']

X13=Parameteronel.drop('Tumeric',axis=1)
y13=Parameteronel['Tumeric']

X14=Parameteronem.drop('Bajra',axis=1)
y14=Parameteronem['Bajra']

X15=Parameteronen.drop('Maize',axis=1)
y15=Parameteronen['Maize']

X16=Parameteroneo.drop('Cotton',axis=1)
y16=Parameteroneo['Cotton']

X17=Parameteronep.drop('Potato',axis=1)
y17=Parameteronep['Potato']

X18=Parameteroneq.drop('Wheat',axis=1)
y18=Parameteroneq['Wheat']

X19=Parameteroner.drop('Other Pulses',axis=1)
y19=Parameteroner['Other Pulses']

X20=Parameterones.drop('Barley',axis=1)
y20=Parameterones['Barley']

X21=Parameteronet.drop('Jute ',axis=1)
y21=Parameteronet['Jute ']

X22=Parameteroneu.drop('Mesta',axis=1)
y22=Parameteroneu['Mesta']

In [28]:
from sklearn.model_selection import train_test_split

In [30]:

X_train2, X_test2, y_train2, y_test2 = train_test_split(X2, y2, test_size=0.70,random_state=70)
X_train3, X_test3, y_train3, y_test3 = train_test_split(X3, y3, test_size=0.70,random_state=70)
X_train4, X_test4, y_train4, y_test4 = train_test_split(X4, y4, test_size=0.70,random_state=70)
X_train5, X_test5, y_train5, y_test5 = train_test_split(X5, y5, test_size=0.70,random_state=70)
X_train6, X_test6, y_train6, y_test6 = train_test_split(X6, y6, test_size=0.70,random_state=70)
X_train7, X_test7, y_train7, y_test7 = train_test_split(X7, y7, test_size=0.70,random_state=70)
X_train8, X_test8, y_train8, y_test8 = train_test_split(X8, y8, test_size=0.70,random_state=70)
X_train9, X_test9, y_train9, y_test9 = train_test_split(X9, y9, test_size=0.70,random_state=70)
X_train10, X_test10, y_train10, y_test10 = train_test_split(X10, y10, test_size=0.70,random_state=70)
X_train11, X_test11, y_train11, y_test11 = train_test_split(X11, y11, test_size=0.70,random_state=70)
X_train12, X_test12, y_train12, y_test12 = train_test_split(X12, y12, test_size=0.70,random_state=70)
X_train13, X_test13, y_train13, y_test13 = train_test_split(X13, y13, test_size=0.70,random_state=70)
X_train14, X_test14, y_train14, y_test14 = train_test_split(X14, y14, test_size=0.70,random_state=70)
X_train15, X_test15, y_train15, y_test15 = train_test_split(X15, y15, test_size=0.70,random_state=70)
X_train16, X_test16, y_train16, y_test16 = train_test_split(X16, y16, test_size=0.70,random_state=70)
X_train17, X_test17, y_train17, y_test17 = train_test_split(X17, y17, test_size=0.70,random_state=70)
X_train18, X_test18, y_train18, y_test18 = train_test_split(X18, y18, test_size=0.70,random_state=70)
X_train19, X_test19, y_train19, y_test19 = train_test_split(X19, y19, test_size=0.70,random_state=70)
X_train20, X_test20, y_train20, y_test20 = train_test_split(X20, y20, test_size=0.70,random_state=70)
X_train21, X_test21, y_train21, y_test21 = train_test_split(X21, y21, test_size=0.70,random_state=70)
X_train22, X_test22, y_train22, y_test22 = train_test_split(X22, y22, test_size=0.70,random_state=70)

In [31]:
from sklearn.naive_bayes import BernoulliNB


b=BernoulliNB()
c=BernoulliNB()
d=BernoulliNB()
e=BernoulliNB()
f=BernoulliNB()
g=BernoulliNB()
h=BernoulliNB()
i=BernoulliNB()
j=BernoulliNB()
k=BernoulliNB()
l=BernoulliNB()
m=BernoulliNB()
n=BernoulliNB()
o=BernoulliNB()
p=BernoulliNB()
q=BernoulliNB()
r=BernoulliNB()
s=BernoulliNB()
t=BernoulliNB()
u=BernoulliNB()
v=BernoulliNB()

In [33]:
b.fit(X_train2,y_train2)
c.fit(X_train3,y_train3)
d.fit(X_train4,y_train4)
e.fit(X_train5,y_train5)
f.fit(X_train6,y_train6)
g.fit(X_train7,y_train7)
h.fit(X_train8,y_train8)
i.fit(X_train9,y_train9)
j.fit(X_train10,y_train10)
k.fit(X_train11,y_train11)
l.fit(X_train12,y_train12)
m.fit(X_train13,y_train13)
n.fit(X_train14,y_train14)
o.fit(X_train15,y_train15)
p.fit(X_train16,y_train16)
q.fit(X_train17,y_train17)
r.fit(X_train18,y_train18)
s.fit(X_train19,y_train19)
t.fit(X_train20,y_train20)
u.fit(X_train21,y_train21)
v.fit(X_train22,y_train22)

AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None,
          learning_rate=1.0, n_estimators=50, random_state=None)

In [34]:
print(b.score(X_test2,y_test2)*10)
print(c.score(X_test3,y_test3)*10)
print(d.score(X_test4,y_test4)*10)
print(e.score(X_test5,y_test5)*10)
print(f.score(X_test6,y_test6))
print(g.score(X_test7,y_test7)*10)
print(h.score(X_test8,y_test8))
print(i.score(X_test9,y_test9)*10)
print(j.score(X_test10,y_test10)*10)
print(k.score(X_test11,y_test11))
print(l.score(X_test12,y_test12))
print(m.score(X_test13,y_test13))
print(n.score(X_test14,y_test14)*10)
print(o.score(X_test15,y_test15)*10)
print(p.score(X_test16,y_test16))
print(q.score(X_test17,y_test17)*10)
print(r.score(X_test18,y_test18)*10)
print(s.score(X_test19,y_test19)*10)
print(t.score(X_test20,y_test20)*10)
print(u.score(X_test21,y_test21)*10)
print(v.score(X_test22,y_test22)*10)

3.6363636363636367
3.6363636363636367
3.6363636363636367
3.6363636363636367
0.36363636363636365
4.090909090909091
0.36363636363636365
3.6363636363636367
3.6363636363636367
0.4090909090909091
1.0
0.36363636363636365
3.6363636363636367
3.6363636363636367
0.36363636363636365
4.090909090909091
10.0
3.6363636363636367
3.6363636363636367
4.090909090909091
3.6363636363636367