In [26]:
import numpy as np
import pandas as pd

In [27]:
a=pd.read_csv('climate Test1.csv')
b=pd.read_csv('Soil Test1.csv')
c=pd.read_csv('groundwater Test1.csv')
d=pd.read_csv('Fertilizers Test1.csv')
e=pd.read_csv('Pesticides Test1.csv')
f=pd.read_csv('Crop data Test1.csv')

In [28]:
climate=pd.DataFrame(a[' Rainfall'])

In [29]:
Soil=pd.DataFrame(b['Ph'])

In [30]:
Water=pd.DataFrame(c['Rise (Depth of Water)'])

In [31]:
Fertilizer=pd.DataFrame(d['NPK(tonnes)'])

In [32]:
Pesticides=pd.DataFrame(e['MALATHION(QTY)(kg)'])

In [33]:
Crop=pd.DataFrame(f['Rice(kg/hectare)'])

In [34]:
Parameterone=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop],axis=1)

In [35]:
Parameterone

,Rainfall,Ph,Rise (Depth of Water),NPK(tonnes),MALATHION(QTY)(kg),Rice(kg/hectare)
0,17283,6.3,30.01,815,297,1455
1,16673,6.4,31.01,816,298,1456
2,13232,6.5,32.01,817,299,1457
3,15373,6.2,33.01,818,300,1458
4,15543,6.3,34.01,819,301,1459
5,11514,6.2,35.01,820,302,1460
6,13599,6.3,36.01,821,303,1461
7,18185,6.4,37.01,822,304,1462
8,12117,6.5,38.01,823,305,1463
9,12270,6.2,39.01,824,306,1464
10,17168,6.3,40.01,825,307,1465
11,13398,6.4,41.01,826,308,1466
12,15420,6.3,42.01,827,309,1467
13,12911,6.4,43.01,828,310,1468
14,13079,6.5,44.01,829,311,1469
15,12561,6.2,45.01,830,312,1470
16,12982,6.3,46.01,831,313,1471
17,12131,6.4,47.01,832,314,1472
18,15848,6.3,48.01,833,315,1473
19,15608,6.4,49.01,834,316,1474
20,14257,6.5,50.01,835,317,1475
21,17177,6.2,51.01,836,318,1476
22,21823,6.3,52.01,837,319,1477
23,12643,6.2,53.01,838,320,1478
24,17507,6.3,54.01,839,321,1479
25,16581,6.4,55.01,840,322,1480
26,14076,6.5,56.01,841,323,1481
27,11677,6.2,57.01,842,324,1482
28,17113,6.3,58.01,843,325,1483
29,18233,6.4,59.01,844,326,1484
30,10832,6.3,60.01,845,327,1485

In [36]:
#################Ada Boost Classifier##################

In [37]:
X=Parameterone.drop('Rice(kg/hectare)',axis=1)
y=Parameterone['Rice(kg/hectare)']

In [38]:
Parameterone.columns

Index([' Rainfall', 'Ph', 'Rise (Depth of Water)', 'NPK(tonnes)',
       'MALATHION(QTY)(kg)', 'Rice(kg/hectare)'],
      dtype='object')

In [39]:
from sklearn.model_selection import train_test_split

In [40]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.70,random_state=70)

In [41]:
from sklearn.linear_model import SGDClassifier

In [42]:
a=SGDClassifier()

In [43]:
a=a.fit(X_train,y_train)

In [44]:
print(a.score(X_test,y_test)*10)

0.0

In [45]:
f.columns

Index(['Year', 'Rice(kg/hectare)', 'Jowar', 'Ragi', 'Small Millets', 'Tur ',
       'Gram', 'Groundnuts', 'Sessasum', 'Banana', 'Sugarcane', 'Tobacco',
       'Chillies', 'Ginger', 'Tumeric', 'Bajra', 'Maize', 'Potato', 'Wheat',
       'Other Pulses', 'Jute ', 'Mesta', 'Cotton', 'Coconut'],
      dtype='object')

In [46]:
Crop2=pd.DataFrame(f['Jowar'])
Crop3=pd.DataFrame(f['Ragi'])
Crop4=pd.DataFrame(f['Small Millets'])
Crop5=pd.DataFrame(f['Tur '])
Crop6=pd.DataFrame(f['Gram'])
Crop7=pd.DataFrame(f['Groundnuts'])
Crop8=pd.DataFrame(f['Sessasum'])
Crop9=pd.DataFrame(f['Banana'])
Crop10=pd.DataFrame(f['Sugarcane'])
Crop11=pd.DataFrame(f['Tobacco'])
Crop12=pd.DataFrame(f['Chillies'])
Crop13=pd.DataFrame(f['Ginger'])
Crop14=pd.DataFrame(f['Tumeric'])
Crop15=pd.DataFrame(f['Bajra'])
Crop16=pd.DataFrame(f['Maize'])
Crop17=pd.DataFrame(f['Potato'])
Crop18=pd.DataFrame(f['Wheat'])
Crop19=pd.DataFrame(f['Other Pulses'])
Crop20=pd.DataFrame(f['Jute '])
Crop21=pd.DataFrame(f['Mesta'])
Crop22=pd.DataFrame(f['Cotton'])
Crop23=pd.DataFrame(f['Coconut'])

In [47]:
Parameteronea=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop2],axis=1)
Parameteroneb=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop3],axis=1)
Parameteronec=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop4],axis=1)
Parameteroned=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop5],axis=1)
Parameteronee=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop6],axis=1)
Parameteronef=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop7],axis=1)
Parameteroneg=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop8],axis=1)
Parameteroneh=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop9],axis=1)
Parameteronei=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop10],axis=1)
Parameteronej=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop11],axis=1)
Parameteronek=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop12],axis=1)
Parameteronel=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop13],axis=1)
Parameteronem=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop14],axis=1)
Parameteronen=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop15],axis=1)
Parameteroneo=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop16],axis=1)
Parameteronep=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop17],axis=1)
Parameteroneq=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop18],axis=1)
Parameteroner=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop19],axis=1)
Parameterones=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop20],axis=1)
Parameteronet=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop21],axis=1)
Parameteroneu=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop22],axis=1)
Parameteronev=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop23],axis=1)

In [48]:
X1=Parameteronea.drop('Jowar',axis=1)
y1=Parameteronea['Jowar']

X2=Parameteroneb.drop('Ragi',axis=1)
y2=Parameteroneb['Ragi']

X3=Parameteronec.drop('Small Millets',axis=1)
y3=Parameteronec['Small Millets']

X4=Parameteroned.drop('Tur ',axis=1)
y4=Parameteroned['Tur ']

X5=Parameteronee.drop('Gram',axis=1)
y5=Parameteronee['Gram']

X6=Parameteronef.drop('Groundnuts',axis=1)
y6=Parameteronef['Groundnuts']

X7=Parameteroneg.drop('Sessasum',axis=1)
y7=Parameteroneg['Sessasum']

X8=Parameteroneh.drop('Banana',axis=1)
y8=Parameteroneh['Banana']

X9=Parameteronei.drop('Sugarcane',axis=1)
y9=Parameteronei['Sugarcane']

X10=Parameteronej.drop('Tobacco',axis=1)
y10=Parameteronej['Tobacco']

X11=Parameteronek.drop('Chillies',axis=1)
y11=Parameteronek['Chillies']

X12=Parameteronel.drop('Ginger',axis=1)
y12=Parameteronel['Ginger']

X13=Parameteronem.drop('Tumeric',axis=1)
y13=Parameteronem['Tumeric']

X14=Parameteronen.drop('Bajra',axis=1)
y14=Parameteronen['Bajra']

X15=Parameteroneo.drop('Maize',axis=1)
y15=Parameteroneo['Maize']

X16=Parameteronep.drop('Potato',axis=1)
y16=Parameteronep['Potato']

X17=Parameteroneq.drop('Wheat',axis=1)
y17=Parameteroneq['Wheat']

X18=Parameteroner.drop('Other Pulses',axis=1)
y18=Parameteroner['Other Pulses']

X19=Parameterones.drop('Jute ',axis=1)
y19=Parameterones['Jute ']

X20=Parameteronet.drop('Mesta',axis=1)
y20=Parameteronet['Mesta']

X21=Parameteroneu.drop('Cotton',axis=1)
y21=Parameteroneu['Cotton']

X22=Parameteronev.drop('Coconut',axis=1)
y22=Parameteronev['Coconut']

In [49]:
from sklearn.model_selection import train_test_split

In [50]:
X_train1, X_test1, y_train1, y_test1 = train_test_split(X1, y1, test_size=0.70,random_state=70)
X_train2, X_test2, y_train2, y_test2 = train_test_split(X2, y2, test_size=0.70,random_state=70)
X_train3, X_test3, y_train3, y_test3 = train_test_split(X3, y3, test_size=0.70,random_state=70)
X_train4, X_test4, y_train4, y_test4 = train_test_split(X4, y4, test_size=0.70,random_state=70)
X_train5, X_test5, y_train5, y_test5 = train_test_split(X5, y5, test_size=0.70,random_state=70)
X_train6, X_test6, y_train6, y_test6 = train_test_split(X6, y6, test_size=0.70,random_state=70)
X_train7, X_test7, y_train7, y_test7 = train_test_split(X7, y7, test_size=0.70,random_state=70)
X_train8, X_test8, y_train8, y_test8 = train_test_split(X8, y8, test_size=0.70,random_state=70)
X_train9, X_test9, y_train9, y_test9 = train_test_split(X9, y9, test_size=0.70,random_state=70)
X_train10, X_test10, y_train10, y_test10 = train_test_split(X10, y10, test_size=0.70,random_state=70)
X_train11, X_test11, y_train11, y_test11 = train_test_split(X11, y11, test_size=0.70,random_state=70)
X_train12, X_test12, y_train12, y_test12 = train_test_split(X12, y12, test_size=0.70,random_state=70)
X_train13, X_test13, y_train13, y_test13 = train_test_split(X13, y13, test_size=0.70,random_state=70)
X_train14, X_test14, y_train14, y_test14 = train_test_split(X14, y14, test_size=0.70,random_state=70)
X_train15, X_test15, y_train15, y_test15 = train_test_split(X15, y15, test_size=0.70,random_state=70)
X_train16, X_test16, y_train16, y_test16 = train_test_split(X16, y16, test_size=0.70,random_state=70)
X_train17, X_test17, y_train17, y_test17 = train_test_split(X17, y17, test_size=0.70,random_state=70)
X_train18, X_test18, y_train18, y_test18 = train_test_split(X18, y18, test_size=0.70,random_state=70)
X_train19, X_test19, y_train19, y_test19 = train_test_split(X19, y19, test_size=0.70,random_state=70)
X_train20, X_test20, y_train20, y_test20 = train_test_split(X20, y20, test_size=0.70,random_state=70)
X_train21, X_test21, y_train21, y_test21 = train_test_split(X21, y21, test_size=0.70,random_state=70)
X_train22, X_test22, y_train22, y_test22 = train_test_split(X22, y22, test_size=0.70,random_state=70)

In [51]:
from sklearn.linear_model import SGDClassifier

a=SGDClassifier()
b=SGDClassifier()
c=SGDClassifier()
d=SGDClassifier()
e=SGDClassifier()
f=SGDClassifier()
g=SGDClassifier()
h=SGDClassifier()
i=SGDClassifier()
j=SGDClassifier()
k=SGDClassifier()
l=SGDClassifier()
m=SGDClassifier()
n=SGDClassifier()
o=SGDClassifier()
p=SGDClassifier()
q=SGDClassifier()
r=SGDClassifier()
s=SGDClassifier()
t=SGDClassifier()
u=SGDClassifier()
v=SGDClassifier()

In [53]:
a.fit(X_train1,y_train1)
b.fit(X_train2,y_train2)
c.fit(X_train3,y_train3)
d.fit(X_train4,y_train4)
e.fit(X_train5,y_train5)
f.fit(X_train6,y_train6)
g.fit(X_train7,y_train7)
h.fit(X_train8,y_train8)
i.fit(X_train9,y_train9)
j.fit(X_train10,y_train10)
k.fit(X_train11,y_train11)
l.fit(X_train12,y_train12)
m.fit(X_train13,y_train13)
n.fit(X_train14,y_train14)
o.fit(X_train15,y_train15)
p.fit(X_train16,y_train16)
q.fit(X_train17,y_train17)
r.fit(X_train18,y_train18)
s.fit(X_train19,y_train19)
t.fit(X_train20,y_train20)
u.fit(X_train21,y_train21)
v.fit(X_train22,y_train22)

AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None,
          learning_rate=1.0, n_estimators=50, random_state=None)

In [54]:
print(a.score(X_test1,y_test1)*10)
print(b.score(X_test2,y_test2)*10)
print(c.score(X_test3,y_test3)*10)
print(d.score(X_test4,y_test4)*10)
print(e.score(X_test5,y_test5)*10)
print(f.score(X_test6,y_test6))
print(g.score(X_test7,y_test7)*10)
print(h.score(X_test8,y_test8))
print(i.score(X_test9,y_test9)*10)
print(j.score(X_test10,y_test10)*10)
print(k.score(X_test11,y_test11))
print(l.score(X_test12,y_test12))
print(m.score(X_test13,y_test13))
print(n.score(X_test14,y_test14)*10)
print(o.score(X_test15,y_test15)*10)
print(p.score(X_test16,y_test16))
print(q.score(X_test17,y_test17)*10)
print(r.score(X_test18,y_test18)*10)
print(s.score(X_test19,y_test19)*10)
print(t.score(X_test20,y_test20)*10)
print(u.score(X_test21,y_test21)*10)
print(v.score(X_test22,y_test22)*10)

0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
1.0
1.0
1.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
10.0