In [1]:
import numpy as np
import pandas as pd

In [29]:
a=pd.read_csv('SK_climate.csv')
b=pd.read_csv('SK_Soil.csv')
c=pd.read_csv('SK_groundwater.csv')
d=pd.read_csv('SK_Fertilizers.csv')
e=pd.read_csv('SK_Pesticides.csv')
f=pd.read_csv('SK_Crop_data.csv')

In [30]:
climate=pd.DataFrame(a['Rainfall'])

In [31]:
Soil=pd.DataFrame(b['Ph'])

In [32]:
Water=pd.DataFrame(c['Rise (Depth of Water)'])

In [33]:
Fertilizer=pd.DataFrame(d['NPK(tonnes)'])

In [34]:
Pesticides=pd.DataFrame(e['MALATHION(QTY)(kg)'])

In [35]:
Crop=pd.DataFrame(f['Rice(kg/hectare)'])

In [36]:
Parameterone=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop],axis=1)

In [37]:
Parameterone

,Rainfall,Ph,Rise (Depth of Water),NPK(tonnes),MALATHION(QTY)(kg),Rice(kg/hectare)
0,23485,5.5,0.01,1,1740,1740
1,17701,6.0,1.01,1,1741,1741
2,22717,6.1,2.01,1,1742,1742
3,24253,5.1,3.01,1,1743,1743
4,28243,5.2,4.01,1,1744,1744
5,21362,6.0,5.01,1,1745,1745
6,21264,6.1,6.01,1,1746,1746
7,30229,5.1,7.01,1,1747,1747
8,21825,5.2,8.01,1,1748,1748
9,21300,6.1,9.01,1,1749,1749
10,30205,5.1,10.01,1,1750,1750
11,26050,5.2,11.01,1,1751,1751
12,25179,6.0,12.01,1,1752,1752
13,18302,6.1,13.01,1,1753,1753
14,25982,5.1,14.01,1,1754,1754
15,29272,5.5,15.01,1,1755,1755
16,29207,6.0,16.01,1,1756,1756
17,25195,6.1,17.01,1,1757,1757
18,26792,5.1,18.01,1,1758,1758
19,21639,5.2,19.01,1,1759,1759
20,21757,6.0,20.01,1,1760,1760
21,32301,6.1,21.01,1,1761,1761
22,27284,5.1,22.01,1,1762,1762
23,29181,5.2,23.01,1,1763,1763
24,22987,6.1,24.01,1,1764,1764
25,27825,5.1,25.01,1,1765,1765
26,30540,5.2,26.01,1,1766,1766
27,26599,6.0,27.01,1,1767,1767
28,25239,6.1,28.01,1,1768,1768
29,29348,5.1,29.01,1,1769,1769
...,...,...,...,...,...,...
71,23905,5.2,71.01,1,1811,1811
72,23025,6.1,72.01,1,1812,1812
73,24502,5.1,73.01,1,1813,1813
74,23757,5.2,74.01,1,1814,1814
75,23895,6.0,75.01,1,1815,1815
76,27042,6.1,76.01,1,1816,1816
77,19356,5.1,77.01,1,1817,1817
78,24356,5.2,78.01,1,1818,1818
79,29361,6.0,79.01,1,1819,1819
80,24955,6.1,80.01,1,1820,1820
81,22204,5.1,81.01,1,1821,1821
82,23683,5.2,82.01,1,1822,1822
83,18720,6.1,83.01,1,1823,1823
84,22781,5.1,84.01,1,1824,1824
85,24513,5.2,85.01,1,1825,1825
86,23537,6.0,86.01,1,1826,1826
87,22859,6.1,87.01,1,1827,1827
88,24277,5.1,88.01,1,1828,1828
89,22195,5.5,89.01,1,1829,1829
90,25937,6.0,90.01,1,1830,1713
91,23734,6.1,91.01,1,1831,1714
92,26172,5.1,92.01,1,1832,1715
93,25268,5.2,93.01,1,1833,1716
94,20925,6.0,94.01,1,1834,1717
95,26813,6.1,95.01,1,1835,1718
96,26389,5.1,96.01,1,1836,1719
97,24502,5.2,97.01,1,1837,1720
98,23757,6.1,98.01,1,1838,1721
99,23895,6.0,99.01,1,1839,1722
100,27042,6.1,100.01,1,1840,1723

In [38]:
#################AdaBoost Classifier Algorithm##################

In [39]:
X=Parameterone.drop('Rice(kg/hectare)',axis=1)
y=Parameterone['Rice(kg/hectare)']

In [40]:
from sklearn.model_selection import train_test_split

In [41]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.70,random_state=70)

In [42]:
from sklearn.naive_bayes import BernoulliNB

In [43]:
a=BernoulliNB()

In [44]:
a=a.fit(X_train,y_train)

In [45]:
print(a.score(X_test,y_test)*10)

0.0

In [46]:
f.columns

Index(['Year', 'Rice(kg/hectare)', 'Ragi', 'Small Millets', 'Banana', 'Ginger',
       'Tumeric', 'Maize', 'Potato', 'Wheat', 'Other Pulses', 'Barley'],
      dtype='object')

In [47]:
Crop2=pd.DataFrame(f['Ragi'])
Crop3=pd.DataFrame(f['Small Millets'])
Crop4=pd.DataFrame(f['Banana'])
Crop5=pd.DataFrame(f['Ginger'])
Crop6=pd.DataFrame(f['Tumeric'])
Crop7=pd.DataFrame(f['Maize'])
Crop8=pd.DataFrame(f['Potato'])
Crop9=pd.DataFrame(f['Wheat'])
Crop10=pd.DataFrame(f['Other Pulses'])
Crop11=pd.DataFrame(f['Barley'])

In [48]:
Parameteronea=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop2],axis=1)
Parameteroneb=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop3],axis=1)
Parameteronec=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop4],axis=1)
Parameteroned=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop5],axis=1)
Parameteronee=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop6],axis=1)
Parameteronef=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop7],axis=1)
Parameteroneg=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop8],axis=1)
Parameteroneh=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop9],axis=1)
Parameteronei=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop10],axis=1)
Parameteronej=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop11],axis=1)

In [49]:
X1=Parameteronea.drop('Ragi',axis=1)
y1=Parameteronea['Ragi']

X2=Parameteroneb.drop('Small Millets',axis=1)
y2=Parameteroneb['Small Millets']

X3=Parameteronec.drop('Banana',axis=1)
y3=Parameteronec['Banana']

X4=Parameteroned.drop('Ginger',axis=1)
y4=Parameteroned['Ginger']

X5=Parameteronee.drop('Tumeric',axis=1)
y5=Parameteronee['Tumeric']

X6=Parameteronef.drop('Maize',axis=1)
y6=Parameteronef['Maize']

X7=Parameteroneg.drop('Potato',axis=1)
y7=Parameteroneg['Potato']

X8=Parameteroneh.drop('Wheat',axis=1)
y8=Parameteroneh['Wheat']

X9=Parameteronei.drop('Other Pulses',axis=1)
y9=Parameteronei['Other Pulses']

X10=Parameteronej.drop('Barley',axis=1)
y10=Parameteronej['Barley']

In [50]:
from sklearn.model_selection import train_test_split

In [51]:
X_train1, X_test1, y_train1, y_test1 = train_test_split(X1, y1, test_size=0.70,random_state=70)
X_train2, X_test2, y_train2, y_test2 = train_test_split(X2, y2, test_size=0.70,random_state=70)
X_train3, X_test3, y_train3, y_test3 = train_test_split(X3, y3, test_size=0.70,random_state=70)
X_train4, X_test4, y_train4, y_test4 = train_test_split(X4, y4, test_size=0.70,random_state=70)
X_train5, X_test5, y_train5, y_test5 = train_test_split(X5, y5, test_size=0.70,random_state=70)
X_train6, X_test6, y_train6, y_test6 = train_test_split(X6, y6, test_size=0.70,random_state=70)
X_train7, X_test7, y_train7, y_test7 = train_test_split(X7, y7, test_size=0.70,random_state=70)
X_train8, X_test8, y_train8, y_test8 = train_test_split(X8, y8, test_size=0.70,random_state=70)
X_train9, X_test9, y_train9, y_test9 = train_test_split(X9, y9, test_size=0.70,random_state=70)
X_train10, X_test10, y_train10, y_test10 = train_test_split(X10, y10, test_size=0.70,random_state=70)

In [52]:
from sklearn.naive_bayes import BernoulliNB

In [53]:
b=BernoulliNB()
c=BernoulliNB()
d=BernoulliNB()
e=BernoulliNB()
f=BernoulliNB()
g=BernoulliNB()
h=BernoulliNB()
i=BernoulliNB()
j=BernoulliNB()
k=BernoulliNB()

In [54]:
b.fit(X_train1,y_train1)
c.fit(X_train2,y_train2)
d.fit(X_train3,y_train3)
e.fit(X_train4,y_train4)
f.fit(X_train5,y_train5)
g.fit(X_train6,y_train6)
h.fit(X_train7,y_train7)
i.fit(X_train8,y_train8)
j.fit(X_train9,y_train9)
k.fit(X_train10,y_train10)

AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None,
          learning_rate=1.0, n_estimators=50, random_state=None)

In [55]:
print(b.score(X_test1,y_test1)*10)
print(c.score(X_test2,y_test2)*10)
print(d.score(X_test3,y_test3)*10)
print(e.score(X_test4,y_test4)*10)
print(f.score(X_test5,y_test5)*10)
print(g.score(X_test6,y_test6))
print(h.score(X_test7,y_test7)*10)
print(i.score(X_test8,y_test8))
print(j.score(X_test9,y_test9)*10)
print(k.score(X_test10,y_test10)*10)

0.0
0.0
8.732394366197182
8.732394366197182
8.732394366197182
0.0
8.732394366197182
0.0
0.0
0.0