In [5]:
import numpy as np
import pandas as pd

In [6]:
a=pd.read_csv('climate Test1.csv')
b=pd.read_csv('Soil Test1.csv')
c=pd.read_csv('groundwater Test1.csv')
d=pd.read_csv('Fertilizers Test1.csv')
e=pd.read_csv('Pesticides Test1.csv')
f=pd.read_csv('Crop data Test1.csv')

In [7]:
climate=pd.DataFrame(a[' Rainfall'])

In [8]:
Soil=pd.DataFrame(b['Ph'])

In [9]:
Water=pd.DataFrame(c['Rise (Depth of Water)'])

In [10]:
Fertilizer=pd.DataFrame(d['NPK(tonnes)'])

In [11]:
Pesticides=pd.DataFrame(e['MALATHION(QTY)(kg)'])

In [12]:
Crop=pd.DataFrame(f['Rice(kg/hectare)'])

In [13]:
Parameterone=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop],axis=1)

In [14]:
Parameterone

,Rainfall,Ph,Rise (Depth of Water),NPK(tonnes),MALATHION(QTY)(kg),Rice(kg/hectare)
0,12242,7.0,0.03,3241,48,512
1,8471,8.2,0.05,2567,43,3148
2,8230,8.0,0.02,2566,48,3062
3,8338,7.0,0.02,2543,47,3034
4,8723,8.2,0.07,3241,67,3148
5,9674,8.2,0.02,2567,64,2921
6,10767,8.0,0.02,2500,48,3242
7,13590,7.0,0.02,2501,43,3034
8,8972,8.0,0.02,2409,48,512
9,11570,7.0,0.07,3241,64,3148
10,9157,8.2,0.02,2567,48,3062
11,8709,8.2,0.03,2100,43,3034
12,10715,8.0,0.05,1878,48,3148
13,13186,7.0,0.02,3241,67,2921
14,9787,8.2,0.02,2567,64,3172
15,9575,8.0,0.07,2500,48,3062
16,7327,7.0,0.02,2501,43,3034
17,10903,8.2,0.03,2409,48,3148
18,8028,7.0,0.05,1878,47,3148
19,6993,8.2,0.02,3241,67,2921
20,13181,8.2,0.02,2567,64,3172
21,8695,8.0,0.07,2500,48,512
22,9062,7.0,0.07,2500,43,3148
23,9045,8.2,0.02,2501,48,3062
24,7758,8.0,0.02,2409,67,3034
25,8354,7.0,0.02,3241,64,3148
26,10596,8.2,0.07,2567,48,2921
27,11907,8.2,0.02,2100,53,3172
28,9498,8.0,0.03,1878,47,3242
29,11257,7.0,0.05,3241,67,3034
30,9810,8.0,0.02,2567,64,512

In [15]:
#################Ada Boost Classifier##################

In [16]:
X=Parameterone.drop('Rice(kg/hectare)',axis=1)
y=Parameterone['Rice(kg/hectare)']

In [17]:
Parameterone.columns

Index([' Rainfall', 'Ph', 'Rise (Depth of Water)', 'NPK(tonnes)',
       'MALATHION(QTY)(kg)', 'Rice(kg/hectare)'],
      dtype='object')

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.70,random_state=70)

In [22]:
from sklearn.naive_bayes import BernoulliNB

In [23]:
a=BernoulliNB()

In [24]:
a=a.fit(X_train,y_train)

In [25]:
print(a.score(X_test,y_test)*10)

0.4545454545454546

In [26]:
f.columns

Index(['Year', 'Rice(kg/hectare)', 'Jowar', 'Ragi', 'Small Millets', 'Tur ',
       'Gram', 'Groundnuts', 'Sessasum', 'Banana', 'Sugarcane', 'Tobacco',
       'Chillies', 'Ginger', 'Coconut', 'Tumeric', 'Bajra', 'Maize', 'Cotton',
       'Potato', 'Wheat', 'Other Pulses', 'Mesta'],
      dtype='object')

In [27]:
Crop2=pd.DataFrame(f['Jowar'])
Crop3=pd.DataFrame(f['Ragi'])
Crop4=pd.DataFrame(f['Small Millets'])
Crop5=pd.DataFrame(f['Tur '])
Crop6=pd.DataFrame(f['Gram'])
Crop7=pd.DataFrame(f['Groundnuts'])
Crop8=pd.DataFrame(f['Sessasum'])
Crop9=pd.DataFrame(f['Banana'])
Crop10=pd.DataFrame(f['Sugarcane'])
Crop11=pd.DataFrame(f['Tobacco'])
Crop12=pd.DataFrame(f['Chillies'])
Crop13=pd.DataFrame(f['Ginger'])
Crop14=pd.DataFrame(f['Coconut'])
Crop15=pd.DataFrame(f['Tumeric'])
Crop16=pd.DataFrame(f['Bajra'])
Crop17=pd.DataFrame(f['Maize'])
Crop18=pd.DataFrame(f['Cotton'])
Crop19=pd.DataFrame(f['Potato'])
Crop20=pd.DataFrame(f['Wheat'])
Crop21=pd.DataFrame(f['Other Pulses'])
Crop22=pd.DataFrame(f['Mesta'])

In [28]:
Parameteronea=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop2],axis=1)
Parameteroneb=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop3],axis=1)
Parameteronec=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop4],axis=1)
Parameteroned=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop5],axis=1)
Parameteronee=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop6],axis=1)
Parameteronef=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop7],axis=1)
Parameteroneg=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop8],axis=1)
Parameteroneh=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop9],axis=1)
Parameteronei=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop10],axis=1)
Parameteronej=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop11],axis=1)
Parameteronek=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop12],axis=1)
Parameteronel=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop13],axis=1)
Parameteronem=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop14],axis=1)
Parameteronen=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop15],axis=1)
Parameteroneo=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop16],axis=1)
Parameteronep=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop17],axis=1)
Parameteroneq=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop18],axis=1)
Parameteroner=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop19],axis=1)
Parameterones=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop20],axis=1)
Parameteronet=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop21],axis=1)
Parameteroneu=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop22],axis=1)

In [29]:
X1=Parameteronea.drop('Jowar',axis=1)
y1=Parameteronea['Jowar']

X2=Parameteroneb.drop('Ragi',axis=1)
y2=Parameteroneb['Ragi']

X3=Parameteronec.drop('Small Millets',axis=1)
y3=Parameteronec['Small Millets']

X4=Parameteroned.drop('Tur ',axis=1)
y4=Parameteroned['Tur ']

X5=Parameteronee.drop('Gram',axis=1)
y5=Parameteronee['Gram']

X6=Parameteronef.drop('Groundnuts',axis=1)
y6=Parameteronef['Groundnuts']

X7=Parameteroneg.drop('Sessasum',axis=1)
y7=Parameteroneg['Sessasum']

X8=Parameteroneh.drop('Banana',axis=1)
y8=Parameteroneh['Banana']

X9=Parameteronei.drop('Sugarcane',axis=1)
y9=Parameteronei['Sugarcane']

X10=Parameteronej.drop('Tobacco',axis=1)
y10=Parameteronej['Tobacco']

X11=Parameteronek.drop('Chillies',axis=1)
y11=Parameteronek['Chillies']

X12=Parameteronel.drop('Ginger',axis=1)
y12=Parameteronel['Ginger']

X13=Parameteronem.drop('Coconut',axis=1)
y13=Parameteronem['Coconut']

X14=Parameteronen.drop('Tumeric',axis=1)
y14=Parameteronen['Tumeric']

X15=Parameteroneo.drop('Bajra',axis=1)
y15=Parameteroneo['Bajra']

X16=Parameteronep.drop('Maize',axis=1)
y16=Parameteronep['Maize']

X17=Parameteroneq.drop('Cotton',axis=1)
y17=Parameteroneq['Cotton']

X18=Parameteroner.drop('Potato',axis=1)
y18=Parameteroner['Potato']

X19=Parameterones.drop('Wheat',axis=1)
y19=Parameterones['Wheat']

X20=Parameteronet.drop('Other Pulses',axis=1)
y20=Parameteronet['Other Pulses']

X21=Parameteroneu.drop('Mesta',axis=1)
y21=Parameteroneu['Mesta']

In [30]:
from sklearn.model_selection import train_test_split

In [31]:
X_train1, X_test1, y_train1, y_test1 = train_test_split(X1, y1, test_size=0.70,random_state=70)
X_train2, X_test2, y_train2, y_test2 = train_test_split(X2, y2, test_size=0.70,random_state=70)
X_train3, X_test3, y_train3, y_test3 = train_test_split(X3, y3, test_size=0.70,random_state=70)
X_train4, X_test4, y_train4, y_test4 = train_test_split(X4, y4, test_size=0.70,random_state=70)
X_train5, X_test5, y_train5, y_test5 = train_test_split(X5, y5, test_size=0.70,random_state=70)
X_train6, X_test6, y_train6, y_test6 = train_test_split(X6, y6, test_size=0.70,random_state=70)
X_train7, X_test7, y_train7, y_test7 = train_test_split(X7, y7, test_size=0.70,random_state=70)
X_train8, X_test8, y_train8, y_test8 = train_test_split(X8, y8, test_size=0.70,random_state=70)
X_train9, X_test9, y_train9, y_test9 = train_test_split(X9, y9, test_size=0.70,random_state=70)
X_train10, X_test10, y_train10, y_test10 = train_test_split(X10, y10, test_size=0.70,random_state=70)
X_train11, X_test11, y_train11, y_test11 = train_test_split(X11, y11, test_size=0.70,random_state=70)
X_train12, X_test12, y_train12, y_test12 = train_test_split(X12, y12, test_size=0.70,random_state=70)
X_train13, X_test13, y_train13, y_test13 = train_test_split(X13, y13, test_size=0.70,random_state=70)
X_train14, X_test14, y_train14, y_test14 = train_test_split(X14, y14, test_size=0.70,random_state=70)
X_train15, X_test15, y_train15, y_test15 = train_test_split(X15, y15, test_size=0.70,random_state=70)
X_train16, X_test16, y_train16, y_test16 = train_test_split(X16, y16, test_size=0.70,random_state=70)
X_train17, X_test17, y_train17, y_test17 = train_test_split(X17, y17, test_size=0.70,random_state=70)
X_train18, X_test18, y_train18, y_test18 = train_test_split(X18, y18, test_size=0.70,random_state=70)
X_train19, X_test19, y_train19, y_test19 = train_test_split(X19, y19, test_size=0.70,random_state=70)
X_train20, X_test20, y_train20, y_test20 = train_test_split(X20, y20, test_size=0.70,random_state=70)
X_train21, X_test21, y_train21, y_test21 = train_test_split(X21, y21, test_size=0.70,random_state=70)

In [32]:
from sklearn.naive_bayes import BernoulliNB

In [33]:
b=BernoulliNB()
c=BernoulliNB()
d=BernoulliNB()
e=BernoulliNB()
f=BernoulliNB()
g=BernoulliNB()
h=BernoulliNB()
i=BernoulliNB()
j=BernoulliNB()
k=BernoulliNB()
l=BernoulliNB()
m=BernoulliNB()
n=BernoulliNB()
o=BernoulliNB()
p=BernoulliNB()
q=BernoulliNB()
r=BernoulliNB()
s=BernoulliNB()
t=BernoulliNB()
u=BernoulliNB()
v=BernoulliNB()

In [34]:
b.fit(X_train1,y_train1)
c.fit(X_train2,y_train2)
d.fit(X_train3,y_train3)
e.fit(X_train4,y_train4)
f.fit(X_train5,y_train5)
g.fit(X_train6,y_train6)
h.fit(X_train7,y_train7)
i.fit(X_train8,y_train8)
j.fit(X_train9,y_train9)
k.fit(X_train10,y_train10)
l.fit(X_train11,y_train11)
m.fit(X_train12,y_train12)
n.fit(X_train13,y_train13)
o.fit(X_train14,y_train14)
p.fit(X_train15,y_train15)
q.fit(X_train16,y_train16)
r.fit(X_train17,y_train17)
s.fit(X_train18,y_train18)
t.fit(X_train19,y_train19)
u.fit(X_train20,y_train20)
v.fit(X_train21,y_train21)

BernoulliNB(alpha=1.0, binarize=0.0, class_prior=None, fit_prior=True)

In [35]:
print(b.score(X_test1,y_test1)*10)
print(c.score(X_test2,y_test2)*10)
print(d.score(X_test3,y_test3)*10)
print(e.score(X_test4,y_test4)*10)
print(f.score(X_test5,y_test5)*10)
print(g.score(X_test6,y_test6)*10)
print(h.score(X_test7,y_test7)*10)
print(i.score(X_test8,y_test8)*10)
print(j.score(X_test9,y_test9)*10)
print(k.score(X_test10,y_test10)*10)
print(l.score(X_test11,y_test11)*10)
print(m.score(X_test12,y_test12)*10)
print(n.score(X_test13,y_test13)*10)
print(o.score(X_test14,y_test14)*10)
print(p.score(X_test15,y_test15)*10)
print(q.score(X_test16,y_test16)*10)
print(r.score(X_test17,y_test17)*10)
print(s.score(X_test18,y_test18)*10)
print(t.score(X_test19,y_test19)*10)
print(u.score(X_test20,y_test20)*10)
print(v.score(X_test21,y_test21)*10)

0.4545454545454546
0.4545454545454546
0.4545454545454546
0.4545454545454546
0.4545454545454546
0.4545454545454546
0.4545454545454546
0.4545454545454546
0.4545454545454546
0.4545454545454546
0.4545454545454546
0.4545454545454546
0.4545454545454546
0.4545454545454546
0.4545454545454546
0.4545454545454546
0.4545454545454546
0.4545454545454546
0.4545454545454546
0.4545454545454546
0.4545454545454546