In [31]:
import numpy as np
import pandas as pd

In [32]:
a=pd.read_csv('climate Test1.csv')
b=pd.read_csv('Soil Test1.csv')
c=pd.read_csv('groundwater Test1.csv')
d=pd.read_csv('Fertilizers Test1.csv')
e=pd.read_csv('Pesticides Test1.csv')
f=pd.read_csv('Crop data Test1.csv')

In [33]:
climate=pd.DataFrame(a[' Rainfall'])

In [4]:
Soil=pd.DataFrame(b['Ph'])

In [5]:
Water=pd.DataFrame(c['Rise (Depth of Water)'])

In [6]:
Fertilizer=pd.DataFrame(d['NPK(tonnes)'])

In [7]:
Pesticides=pd.DataFrame(e['MALATHION(QTY)(kg)'])

In [8]:
Crop=pd.DataFrame(f['Rice(kg/hectare)'])

In [9]:
Parameterone=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop],axis=1)

In [10]:
Parameterone

,Rainfall,Ph,Rise (Depth of Water),NPK(tonnes),MALATHION(QTY)(kg),Rice(kg/hectare)
0,28273,7.2,30.11,380,1694,1686
1,23495,7.3,31.11,381,1695,1687
2,26305,7.4,32.11,382,1696,1688
3,28232,7.5,33.11,383,1697,1689
4,25402,7.2,34.11,384,1698,1690
5,23802,7.3,35.11,385,1699,1691
6,26130,7.4,36.11,386,1700,1692
7,26404,7.5,37.11,387,1701,1693
8,21886,7.2,38.11,388,1702,1694
9,22314,7.3,39.11,389,1703,1695
10,24535,7.4,40.11,390,1704,1696
11,22945,7.2,41.11,391,1705,1697
12,22910,7.3,42.11,392,1706,1698
13,21979,7.4,43.11,393,1707,1699
14,19279,7.5,44.11,394,1708,1700
15,24109,7.2,45.11,395,1709,1701
16,24657,7.3,46.11,396,1710,1702
17,22085,7.4,47.11,397,1711,1703
18,26257,7.5,48.11,398,1712,1704
19,19491,7.2,49.11,399,1713,1705
20,22825,7.3,50.11,400,1714,1706
21,21176,7.4,51.11,401,1715,1707
22,26962,7.5,52.11,402,1716,1708
23,20890,7.1,53.11,403,1717,1709
24,20406,7.2,54.11,404,1718,1710
25,25580,7.3,55.11,405,1719,1711
26,28358,7.4,56.11,406,1720,1712
27,19520,7.5,57.11,407,1721,1713
28,22354,7.2,58.11,408,1722,1714
29,25974,7.3,59.11,409,1723,1715
30,18671,7.4,60.11,410,1724,1716

In [11]:
#################Ada Boost Classifier##################

In [12]:
X=Parameterone.drop('Rice(kg/hectare)',axis=1)
y=Parameterone['Rice(kg/hectare)']

In [13]:
Parameterone.columns

Index([' Rainfall', 'Ph', 'Rise (Depth of Water)', 'NPK(tonnes)',
       'MALATHION(QTY)(kg)', 'Rice(kg/hectare)'],
      dtype='object')

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.70,random_state=70)

In [16]:
from sklearn.ensemble import AdaBoostClassifier

In [17]:
a=AdaBoostClassifier()

In [18]:
a=a.fit(X_train,y_train)

In [19]:
print(a.score(X_test,y_test)*10)

0.0

In [20]:
f.columns

Index(['Year', 'Rice(kg/hectare)', 'Small Millets', 'Tur ', 'Gram', 'Sessasum',
       'Banana', 'Sugarcane', 'Tobacco', 'Chillies', 'Ginger', 'Tumeric',
       'Maize', 'Potato', 'Wheat', 'Other Pulses', 'Jute ', 'Mesta', 'Pepper',
       'Tea', 'Coconut'],
      dtype='object')

In [21]:
Crop2=pd.DataFrame(f['Small Millets'])
Crop3=pd.DataFrame(f['Tur '])
Crop4=pd.DataFrame(f['Gram'])
Crop5=pd.DataFrame(f['Sessasum'])
Crop6=pd.DataFrame(f['Banana'])
Crop7=pd.DataFrame(f['Sugarcane'])
Crop8=pd.DataFrame(f['Tobacco'])
Crop9=pd.DataFrame(f['Chillies'])
Crop10=pd.DataFrame(f['Ginger'])
Crop11=pd.DataFrame(f['Tumeric'])
Crop12=pd.DataFrame(f['Maize'])
Crop13=pd.DataFrame(f['Potato'])
Crop14=pd.DataFrame(f['Wheat'])
Crop15=pd.DataFrame(f['Other Pulses'])
Crop16=pd.DataFrame(f['Jute '])
Crop17=pd.DataFrame(f['Mesta'])
Crop18=pd.DataFrame(f['Pepper'])
Crop19=pd.DataFrame(f['Tea'])
Crop20=pd.DataFrame(f['Coconut'])

In [22]:
Parameteronea=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop2],axis=1)
Parameteroneb=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop3],axis=1)
Parameteronec=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop4],axis=1)
Parameteroned=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop5],axis=1)
Parameteronee=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop6],axis=1)
Parameteronef=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop7],axis=1)
Parameteroneg=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop8],axis=1)
Parameteroneh=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop9],axis=1)
Parameteronei=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop10],axis=1)
Parameteronej=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop11],axis=1)
Parameteronek=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop12],axis=1)
Parameteronel=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop13],axis=1)
Parameteronem=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop14],axis=1)
Parameteronen=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop15],axis=1)
Parameteroneo=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop16],axis=1)
Parameteronep=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop17],axis=1)
Parameteroneq=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop18],axis=1)
Parameteroner=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop19],axis=1)
Parameterones=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop20],axis=1)

In [23]:
X2=Parameteronea.drop('Small Millets',axis=1)
y2=Parameteronea['Small Millets']

X3=Parameteroneb.drop('Tur ',axis=1)
y3=Parameteroneb['Tur ']

X4=Parameteronec.drop('Gram',axis=1)
y4=Parameteronec['Gram']

X5=Parameteroned.drop('Sessasum',axis=1)
y5=Parameteroned['Sessasum']

X6=Parameteronee.drop('Banana',axis=1)
y6=Parameteronee['Banana']

X7=Parameteronef.drop('Sugarcane',axis=1)
y7=Parameteronef['Sugarcane']

X8=Parameteroneg.drop('Tobacco',axis=1)
y8=Parameteroneg['Tobacco']

X9=Parameteroneh.drop('Chillies',axis=1)
y9=Parameteroneh['Chillies']

X10=Parameteronei.drop('Ginger',axis=1)
y10=Parameteronei['Ginger']

X11=Parameteronej.drop('Tumeric',axis=1)
y11=Parameteronej['Tumeric']

X12=Parameteronek.drop('Maize',axis=1)
y12=Parameteronek['Maize']

X13=Parameteronel.drop('Potato',axis=1)
y13=Parameteronel['Potato']

X14=Parameteronem.drop('Wheat',axis=1)
y14=Parameteronem['Wheat']

X15=Parameteronen.drop('Other Pulses',axis=1)
y15=Parameteronen['Other Pulses']

X16=Parameteroneo.drop('Jute ',axis=1)
y16=Parameteroneo['Jute ']

X17=Parameteronep.drop('Mesta',axis=1)
y17=Parameteronep['Mesta']

X18=Parameteroneq.drop('Pepper',axis=1)
y18=Parameteroneq['Pepper']

X19=Parameteroner.drop('Tea',axis=1)
y19=Parameteroner['Tea']

X20=Parameterones.drop('Coconut',axis=1)
y20=Parameterones['Coconut']

In [24]:
from sklearn.model_selection import train_test_split

In [25]:

X_train2, X_test2, y_train2, y_test2 = train_test_split(X2, y2, test_size=0.70,random_state=70)
X_train3, X_test3, y_train3, y_test3 = train_test_split(X3, y3, test_size=0.70,random_state=70)
X_train4, X_test4, y_train4, y_test4 = train_test_split(X4, y4, test_size=0.70,random_state=70)
X_train5, X_test5, y_train5, y_test5 = train_test_split(X5, y5, test_size=0.70,random_state=70)
X_train6, X_test6, y_train6, y_test6 = train_test_split(X6, y6, test_size=0.70,random_state=70)
X_train7, X_test7, y_train7, y_test7 = train_test_split(X7, y7, test_size=0.70,random_state=70)
X_train8, X_test8, y_train8, y_test8 = train_test_split(X8, y8, test_size=0.70,random_state=70)
X_train9, X_test9, y_train9, y_test9 = train_test_split(X9, y9, test_size=0.70,random_state=70)
X_train10, X_test10, y_train10, y_test10 = train_test_split(X10, y10, test_size=0.70,random_state=70)
X_train11, X_test11, y_train11, y_test11 = train_test_split(X11, y11, test_size=0.70,random_state=70)
X_train12, X_test12, y_train12, y_test12 = train_test_split(X12, y12, test_size=0.70,random_state=70)
X_train13, X_test13, y_train13, y_test13 = train_test_split(X13, y13, test_size=0.70,random_state=70)
X_train14, X_test14, y_train14, y_test14 = train_test_split(X14, y14, test_size=0.70,random_state=70)
X_train15, X_test15, y_train15, y_test15 = train_test_split(X15, y15, test_size=0.70,random_state=70)
X_train16, X_test16, y_train16, y_test16 = train_test_split(X16, y16, test_size=0.70,random_state=70)
X_train17, X_test17, y_train17, y_test17 = train_test_split(X17, y17, test_size=0.70,random_state=70)
X_train18, X_test18, y_train18, y_test18 = train_test_split(X18, y18, test_size=0.70,random_state=70)
X_train19, X_test19, y_train19, y_test19 = train_test_split(X19, y19, test_size=0.70,random_state=70)
X_train20, X_test20, y_train20, y_test20 = train_test_split(X20, y20, test_size=0.70,random_state=70)

In [27]:
from sklearn.ensemble import AdaBoostClassifier

In [28]:
a=AdaBoostClassifier()
b=AdaBoostClassifier()
c=AdaBoostClassifier()
d=AdaBoostClassifier()
e=AdaBoostClassifier()
f=AdaBoostClassifier()
g=AdaBoostClassifier()
h=AdaBoostClassifier()
i=AdaBoostClassifier()
j=AdaBoostClassifier()
k=AdaBoostClassifier()
l=AdaBoostClassifier()
m=AdaBoostClassifier()
n=AdaBoostClassifier()
o=AdaBoostClassifier()
p=AdaBoostClassifier()
q=AdaBoostClassifier()
r=AdaBoostClassifier()
s=AdaBoostClassifier()

In [29]:
a.fit(X_train2,y_train2)
b.fit(X_train3,y_train3)
c.fit(X_train4,y_train4)
d.fit(X_train5,y_train5)
e.fit(X_train6,y_train6)
f.fit(X_train7,y_train7)
g.fit(X_train8,y_train8)
h.fit(X_train9,y_train9)
i.fit(X_train10,y_train10)
j.fit(X_train11,y_train11)
k.fit(X_train12,y_train12)
l.fit(X_train13,y_train13)
m.fit(X_train14,y_train14)
n.fit(X_train15,y_train15)
o.fit(X_train16,y_train16)
p.fit(X_train17,y_train17)
q.fit(X_train18,y_train18)
r.fit(X_train19,y_train19)
s.fit(X_train20,y_train20)

AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None,
          learning_rate=1.0, n_estimators=50, random_state=None)

In [30]:
print(a.score(X_test2,y_test2)*10)
print(b.score(X_test3,y_test3)*10)
print(c.score(X_test4,y_test4)*10)
print(d.score(X_test5,y_test5)*10)
print(e.score(X_test6,y_test6))
print(f.score(X_test7,y_test7)*10)
print(g.score(X_test8,y_test8))
print(h.score(X_test9,y_test9)*10)
print(i.score(X_test10,y_test10)*10)
print(j.score(X_test11,y_test11))
print(k.score(X_test12,y_test12))
print(l.score(X_test13,y_test13))
print(m.score(X_test14,y_test14)*10)
print(n.score(X_test15,y_test15)*10)
print(o.score(X_test16,y_test16))
print(p.score(X_test17,y_test17)*10)
print(q.score(X_test18,y_test18)*10)
print(r.score(X_test19,y_test19)*10)
print(s.score(X_test20,y_test20)*10)

0.0
0.0
0.0
0.0
0.0
0.0
0.0
10.0
10.0
1.0
0.0
1.0
0.0
0.0
0.0
0.0
10.0
10.0
10.0