In [1]:
import numpy as np
import pandas as pd

In [2]:
a=pd.read_csv('climate Test1.csv')
b=pd.read_csv('Soil Test1.csv')
c=pd.read_csv('groundwater Test1.csv')
d=pd.read_csv('Fertilizers Test1.csv')
e=pd.read_csv('Pesticides Test1.csv')
f=pd.read_csv('Crop data Test1.csv')

In [3]:
climate=pd.DataFrame(a[' Rainfall'])

In [4]:
Soil=pd.DataFrame(b['Ph'])

In [5]:
Water=pd.DataFrame(c['Rise (Depth of Water)'])

In [6]:
Fertilizer=pd.DataFrame(d['NPK(tonnes)'])

In [7]:
Pesticides=pd.DataFrame(e['MALATHION(QTY)(kg)'])

In [8]:
Crop=pd.DataFrame(f['Rice(kg/hectare)'])

In [9]:
Parameterone=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop],axis=1)

In [10]:
Parameterone

,Rainfall,Ph,Rise (Depth of Water),NPK(tonnes),MALATHION(QTY)(kg),Rice(kg/hectare)
0,21197,4.7,30.21,55,1591,2547
1,18206,5.0,31.21,56,1592,2548
2,21036,5.1,32.21,57,1593,2549
3,21810,4.7,33.21,58,1594,2550
4,21612,5.0,34.21,59,1595,2551
5,21407,4.7,35.21,60,1596,2552
6,20036,5.0,36.21,61,1597,2553
7,25257,5.1,37.21,62,1598,2554
8,16004,4.7,38.21,63,1599,2555
9,18425,5.0,39.21,64,1600,2556
10,20526,5.1,40.21,65,1601,2557
11,19472,4.5,41.21,66,1602,2558
12,17964,4.7,42.21,67,1603,2559
13,17945,5.0,43.21,68,1604,2560
14,19891,5.1,44.21,69,1605,2561
15,21520,5.0,45.21,70,1606,2562
16,19800,5.1,46.21,71,1607,2563
17,20367,4.7,47.21,72,1608,2564
18,17591,5.0,48.21,73,1609,2565
19,22279,5.1,49.21,74,1610,2566
20,17680,4.5,50.21,75,1611,2567
21,18980,4.7,51.21,76,1612,2568
22,18892,5.0,52.21,77,1613,2569
23,14177,5.1,53.21,78,1614,2570
24,21965,4.7,54.21,79,1615,2571
25,21044,5.0,55.21,80,1616,2572
26,19149,4.7,56.21,81,1617,2573
27,18654,5.0,57.21,82,1618,2574
28,20408,5.1,58.21,83,1619,2575
29,17671,4.7,59.21,84,1620,2576
30,15889,5.0,60.21,85,1621,2577

In [14]:
#################AdaBoost Classifier Algorithm##################

X=Parameterone.drop('Rice(kg/hectare)',axis=1)
y=Parameterone['Rice(kg/hectare)']

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.70,random_state=70)

from sklearn.neighbors import KNeighborsClassifier

a=KNeighborsClassifier()

a=a.fit(X_train,y_train)

print(a.score(X_test,y_test)*10)



Crop2=pd.DataFrame(f['Tur '])
Crop3=pd.DataFrame(f['Gram'])
Crop4=pd.DataFrame(f['Groundnuts'])
Crop5=pd.DataFrame(f['Sessasum'])
Crop6=pd.DataFrame(f['Banana'])
Crop7=pd.DataFrame(f['Sugarcane'])
Crop8=pd.DataFrame(f['Tobacco'])
Crop9=pd.DataFrame(f['Maize'])
Crop10=pd.DataFrame(f['Potato'])
Crop11=pd.DataFrame(f['Wheat'])
Crop12=pd.DataFrame(f['Other Pulses'])
Crop13=pd.DataFrame(f['Jute'])
Crop14=pd.DataFrame(f['Mesta'])
Crop15=pd.DataFrame(f['Coconut'])

Parameteronea=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop2],axis=1)
Parameteroneb=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop3],axis=1)
Parameteronec=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop4],axis=1)
Parameteroned=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop5],axis=1)
Parameteronee=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop6],axis=1)
Parameteronef=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop7],axis=1)
Parameteroneg=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop8],axis=1)
Parameteroneh=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop9],axis=1)
Parameteronei=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop10],axis=1)
Parameteronej=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop11],axis=1)
Parameteronek=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop12],axis=1)
Parameteronel=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop13],axis=1)
Parameteronem=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop14],axis=1)
Parameteronen=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop15],axis=1)


X1=Parameteronea.drop('Tur ',axis=1)
y1=Parameteronea['Tur ']

X2=Parameteroneb.drop('Gram',axis=1)
y2=Parameteroneb['Gram']

X3=Parameteronec.drop('Groundnuts',axis=1)
y3=Parameteronec['Groundnuts']

X4=Parameteroned.drop('Sessasum',axis=1)
y4=Parameteroned['Sessasum']

X5=Parameteronee.drop('Banana',axis=1)
y5=Parameteronee['Banana']

X6=Parameteronef.drop('Sugarcane',axis=1)
y6=Parameteronef['Sugarcane']

X7=Parameteroneg.drop('Tobacco',axis=1)
y7=Parameteroneg['Tobacco']

X8=Parameteroneh.drop('Maize',axis=1)
y8=Parameteroneh['Maize']

X9=Parameteronei.drop('Potato',axis=1)
y9=Parameteronei['Potato']

X10=Parameteronej.drop('Wheat',axis=1)
y10=Parameteronej['Wheat']

X11=Parameteronek.drop('Other Pulses',axis=1)
y11=Parameteronek['Other Pulses']

X12=Parameteronel.drop('Jute',axis=1)
y12=Parameteronel['Jute']

X13=Parameteronem.drop('Mesta',axis=1)
y13=Parameteronem['Mesta']

X14=Parameteronen.drop('Coconut',axis=1)
y14=Parameteronen['Coconut']



from sklearn.model_selection import train_test_split

X_train1, X_test1, y_train1, y_test1 = train_test_split(X1, y1, test_size=0.70,random_state=70)
X_train2, X_test2, y_train2, y_test2 = train_test_split(X2, y2, test_size=0.70,random_state=70)
X_train3, X_test3, y_train3, y_test3 = train_test_split(X3, y3, test_size=0.70,random_state=70)
X_train4, X_test4, y_train4, y_test4 = train_test_split(X4, y4, test_size=0.70,random_state=70)
X_train5, X_test5, y_train5, y_test5 = train_test_split(X5, y5, test_size=0.70,random_state=70)
X_train6, X_test6, y_train6, y_test6 = train_test_split(X6, y6, test_size=0.70,random_state=70)
X_train7, X_test7, y_train7, y_test7 = train_test_split(X7, y7, test_size=0.70,random_state=70)
X_train8, X_test8, y_train8, y_test8 = train_test_split(X8, y8, test_size=0.70,random_state=70)
X_train9, X_test9, y_train9, y_test9 = train_test_split(X9, y9, test_size=0.70,random_state=70)
X_train10, X_test10, y_train10, y_test10 = train_test_split(X10, y10, test_size=0.70,random_state=70)
X_train11, X_test11, y_train11, y_test11 = train_test_split(X11, y11, test_size=0.70,random_state=70)
X_train12, X_test12, y_train12, y_test12 = train_test_split(X12, y12, test_size=0.70,random_state=70)
X_train13, X_test13, y_train13, y_test13 = train_test_split(X13, y13, test_size=0.70,random_state=70)
X_train14, X_test14, y_train14, y_test14 = train_test_split(X14, y14, test_size=0.70,random_state=70)



from sklearn.neighbors import KNeighborsClassifier


b=KNeighborsClassifier()
c=KNeighborsClassifier()
d=KNeighborsClassifier()
e=KNeighborsClassifier()
f=KNeighborsClassifier()
g=KNeighborsClassifier()
h=KNeighborsClassifier()
i=KNeighborsClassifier()
j=KNeighborsClassifier()
k=KNeighborsClassifier()
l=KNeighborsClassifier()
m=KNeighborsClassifier()
n=KNeighborsClassifier()
o=KNeighborsClassifier()


b.fit(X_train1,y_train1)
c.fit(X_train2,y_train2)
d.fit(X_train3,y_train3)
e.fit(X_train4,y_train4)
f.fit(X_train5,y_train5)
g.fit(X_train6,y_train6)
h.fit(X_train7,y_train7)
i.fit(X_train8,y_train8)
j.fit(X_train9,y_train9)
k.fit(X_train10,y_train10)
l.fit(X_train11,y_train11)
m.fit(X_train12,y_train12)
n.fit(X_train13,y_train13)
o.fit(X_train14,y_train14)


print(b.score(X_test1,y_test1)*10)
print(c.score(X_test2,y_test2)*10)
print(d.score(X_test3,y_test3)*10)
print(e.score(X_test4,y_test4)*10)
print(f.score(X_test5,y_test5)*10)
print(g.score(X_test6,y_test6))
print(h.score(X_test7,y_test7)*10)
print(i.score(X_test8,y_test8))
print(j.score(X_test9,y_test9)*10)
print(k.score(X_test10,y_test10)*10)
print(l.score(X_test11,y_test11))
print(m.score(X_test12,y_test12)*10)
print(n.score(X_test13,y_test13))
print(o.score(X_test14,y_test14)*10)

0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
10.0
0.0
10.0