In [23]:
import numpy as np
import pandas as pd

In [24]:
a=pd.read_csv('climate Test1.csv')
b=pd.read_csv('Soil Test1.csv')
c=pd.read_csv('groundwater Test1.csv')
d=pd.read_csv('Fertilizers Test1.csv')
e=pd.read_csv('Pesticides Test1.csv')
f=pd.read_csv('Crop data Test1.csv')

In [25]:
climate=pd.DataFrame(a[' Rainfall'])

In [26]:
Soil=pd.DataFrame(b['Ph'])

In [27]:
Water=pd.DataFrame(c['Rise (Depth of Water)'])

In [28]:
Fertilizer=pd.DataFrame(d['NPK(tonnes)'])

In [29]:
Pesticides=pd.DataFrame(e['MALATHION(QTY)(kg)'])

In [30]:
Crop=pd.DataFrame(f['Rice(kg/hectare)'])

In [31]:
Parameterone=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop],axis=1)

In [32]:
Parameterone

,Rainfall,Ph,Rise (Depth of Water),NPK(tonnes),MALATHION(QTY)(kg),Rice(kg/hectare)
0,27039,5.2,30.01,1,1770,1770
1,24302,6.0,31.01,1,1771,1771
2,26295,6.1,32.01,1,1772,1772
3,26610,5.1,33.01,1,1773,1773
4,27270,5.2,34.01,1,1774,1774
5,20909,6.1,35.01,1,1775,1775
6,25242,5.1,36.01,1,1776,1776
7,25258,5.2,37.01,1,1777,1777
8,23531,6.0,38.01,1,1778,1778
9,25446,6.1,39.01,1,1779,1779
10,26174,5.1,40.01,1,1780,1780
11,26357,5.5,41.01,1,1781,1781
12,24225,6.0,42.01,1,1782,1782
13,31580,6.1,43.01,1,1783,1783
14,24780,5.1,44.01,1,1784,1784
15,22859,5.2,45.01,1,1785,1785
16,24277,6.0,46.01,1,1786,1786
17,22195,6.1,47.01,1,1787,1787
18,25937,5.1,48.01,1,1788,1788
19,23734,5.2,49.01,1,1789,1789
20,26172,6.1,50.01,1,1790,1790
21,25268,5.1,51.01,1,1791,1791
22,20925,5.2,52.01,1,1792,1792
23,26813,6.0,53.01,1,1793,1793
24,26389,6.1,54.01,1,1794,1794
25,30027,5.1,55.01,1,1795,1795
26,21879,5.2,56.01,1,1796,1796
27,29589,6.1,57.01,1,1797,1797
28,21815,5.1,58.01,1,1798,1798
29,24218,5.2,59.01,1,1799,1799
30,26876,6.0,60.01,1,1800,1800

In [33]:
#################Ada Boost Classifier##################

In [34]:
X=Parameterone.drop('Rice(kg/hectare)',axis=1)
y=Parameterone['Rice(kg/hectare)']

In [35]:
Parameterone.columns

Index([' Rainfall', 'Ph', 'Rise (Depth of Water)', 'NPK(tonnes)',
       'MALATHION(QTY)(kg)', 'Rice(kg/hectare)'],
      dtype='object')

In [36]:
from sklearn.model_selection import train_test_split

In [37]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.70,random_state=70)

In [38]:
from sklearn.linear_model import SGDClassifier

In [39]:
a=SGDClassifier()

In [40]:
a=a.fit(X_train,y_train)

In [41]:
print(a.score(X_test,y_test)*10)

0.0

In [42]:
f.columns

Index(['Year', 'Rice(kg/hectare)', 'Ragi', 'Small Millets', 'Banana', 'Ginger',
       'Tumeric', 'Maize', 'Potato', 'Wheat', 'Other Pulses', 'Barley'],
      dtype='object')

In [43]:
Crop2=pd.DataFrame(f['Ragi'])
Crop3=pd.DataFrame(f['Small Millets'])
Crop4=pd.DataFrame(f['Banana'])
Crop5=pd.DataFrame(f['Ginger'])
Crop6=pd.DataFrame(f['Tumeric'])
Crop7=pd.DataFrame(f['Maize'])
Crop8=pd.DataFrame(f['Potato'])
Crop9=pd.DataFrame(f['Wheat'])
Crop10=pd.DataFrame(f['Other Pulses'])
Crop11=pd.DataFrame(f['Barley'])

In [44]:
Parameteronea=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop2],axis=1)
Parameteroneb=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop3],axis=1)
Parameteronec=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop4],axis=1)
Parameteroned=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop5],axis=1)
Parameteronee=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop6],axis=1)
Parameteronef=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop7],axis=1)
Parameteroneg=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop8],axis=1)
Parameteroneh=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop9],axis=1)
Parameteronei=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop10],axis=1)
Parameteronej=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop11],axis=1)

In [45]:
X1=Parameteronea.drop('Ragi',axis=1)
y1=Parameteronea['Ragi']

X2=Parameteroneb.drop('Small Millets',axis=1)
y2=Parameteroneb['Small Millets']

X3=Parameteronec.drop('Banana',axis=1)
y3=Parameteronec['Banana']

X4=Parameteroned.drop('Ginger',axis=1)
y4=Parameteroned['Ginger']

X5=Parameteronee.drop('Tumeric',axis=1)
y5=Parameteronee['Tumeric']

X6=Parameteronef.drop('Maize',axis=1)
y6=Parameteronef['Maize']

X7=Parameteroneg.drop('Potato',axis=1)
y7=Parameteroneg['Potato']

X8=Parameteroneh.drop('Wheat',axis=1)
y8=Parameteroneh['Wheat']

X9=Parameteronei.drop('Other Pulses',axis=1)
y9=Parameteronei['Other Pulses']

X10=Parameteronej.drop('Barley',axis=1)
y10=Parameteronej['Barley']

In [46]:
from sklearn.model_selection import train_test_split

In [47]:
X_train1, X_test1, y_train1, y_test1 = train_test_split(X1, y1, test_size=0.70,random_state=70)
X_train2, X_test2, y_train2, y_test2 = train_test_split(X2, y2, test_size=0.70,random_state=70)
X_train3, X_test3, y_train3, y_test3 = train_test_split(X3, y3, test_size=0.70,random_state=70)
X_train4, X_test4, y_train4, y_test4 = train_test_split(X4, y4, test_size=0.70,random_state=70)
X_train5, X_test5, y_train5, y_test5 = train_test_split(X5, y5, test_size=0.70,random_state=70)
X_train6, X_test6, y_train6, y_test6 = train_test_split(X6, y6, test_size=0.70,random_state=70)
X_train7, X_test7, y_train7, y_test7 = train_test_split(X7, y7, test_size=0.70,random_state=70)
X_train8, X_test8, y_train8, y_test8 = train_test_split(X8, y8, test_size=0.70,random_state=70)
X_train9, X_test9, y_train9, y_test9 = train_test_split(X9, y9, test_size=0.70,random_state=70)
X_train10, X_test10, y_train10, y_test10 = train_test_split(X10, y10, test_size=0.70,random_state=70)

In [48]:
from sklearn.linear_model import SGDClassifier

In [49]:

b=SGDClassifier()
c=SGDClassifier()
d=SGDClassifier()
e=SGDClassifier()
f=SGDClassifier()
g=SGDClassifier()
h=SGDClassifier()
i=SGDClassifier()
j=SGDClassifier()
k=SGDClassifier()

In [50]:
b.fit(X_train1,y_train1)
c.fit(X_train2,y_train2)
d.fit(X_train3,y_train3)
e.fit(X_train4,y_train4)
f.fit(X_train5,y_train5)
g.fit(X_train6,y_train6)
h.fit(X_train7,y_train7)
i.fit(X_train8,y_train8)
j.fit(X_train9,y_train9)
k.fit(X_train10,y_train10)

AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None,
          learning_rate=1.0, n_estimators=50, random_state=None)

In [51]:
print(b.score(X_test1,y_test1)*10)
print(c.score(X_test2,y_test2)*10)
print(d.score(X_test3,y_test3))
print(e.score(X_test4,y_test4)*10)
print(f.score(X_test5,y_test5))
print(g.score(X_test6,y_test6))
print(h.score(X_test7,y_test7)*10)
print(i.score(X_test8,y_test8))
print(j.score(X_test9,y_test9)*10)
print(k.score(X_test10,y_test10)*10)

0.0
0.0
1.0
10.0
1.0
0.0
10.0
0.0
0.0
0.0