In [37]:
import numpy as np
import pandas as pd

In [30]:
a=pd.read_csv('TP_climate.csv')
b=pd.read_csv('TP_Soil.csv')
c=pd.read_csv('TP_groundwater.csv')
d=pd.read_csv('TP_Fertilizers.csv')
e=pd.read_csv('TP_Pesticides.csv')
f=pd.read_csv('TP_Crop_data.csv')

In [31]:
climate=pd.DataFrame(a['Rainfall'])

In [32]:
Soil=pd.DataFrame(b['Ph'])

In [33]:
Water=pd.DataFrame(c['Rise (Depth of Water)'])

In [34]:
Fertilizer=pd.DataFrame(d['NPK(tonnes)'])

In [35]:
Pesticides=pd.DataFrame(e['MALATHION(QTY)(kg)'])

In [36]:
Crop=pd.DataFrame(f['Rice(kg/hectare)'])

In [19]:
Parameterone=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop],axis=1)

In [20]:
Parameterone

,Rainfall,Ph,Rise (Depth of Water),NPK(tonnes),MALATHION(QTY)(kg),Rice(kg/hectare)
0,17606,4.5,0.21,25,1561,2517
1,21483,4.7,1.21,26,1562,2518
2,18281,5.0,2.21,27,1563,2519
3,19546,5.1,3.21,28,1564,2520
4,19889,4.7,4.21,29,1565,2521
5,19411,5.0,5.21,30,1566,2522
6,20138,5.1,6.21,31,1567,2523
7,21939,4.5,7.21,32,1568,2524
8,17373,4.7,8.21,33,1569,2525
9,23097,5.0,9.21,34,1570,2526
10,20969,5.1,10.21,35,1571,2527
11,17658,4.7,11.21,36,1572,2528
12,19266,5.0,12.21,37,1573,2529
13,16028,4.7,13.21,38,1574,2530
14,22274,5.0,14.21,39,1575,2531
15,17183,5.1,15.21,40,1576,2532
16,16028,4.7,16.21,41,1577,2533
17,23517,5.0,17.21,42,1578,2534
18,18463,5.1,18.21,43,1579,2535
19,21282,4.5,19.21,44,1580,2536
20,18530,4.7,20.21,45,1581,2537
21,19182,5.0,21.21,46,1582,2538
22,23128,5.1,22.21,47,1583,2539
23,20398,4.7,23.21,48,1584,2540
24,16886,5.0,24.21,49,1585,2541
25,18261,5.1,25.21,50,1586,2542
26,18939,4.7,26.21,51,1587,2543
27,22268,5.0,27.21,52,1588,2544
28,24825,5.1,28.21,53,1589,2545
29,21175,4.5,29.21,54,1590,2546
...,...,...,...,...,...,...
71,21074,5.1,71.21,96,1632,2588
72,24150,4.5,72.21,97,1633,2589
73,17295,4.7,73.21,98,1634,2590
74,23880,5.0,74.21,99,1635,2591
75,15385,5.1,75.21,100,1636,2592
76,18032,4.7,76.21,101,1637,2593
77,17798,5.0,77.21,102,1638,2594
78,19769,4.7,78.21,103,1639,2595
79,19519,5.0,79.21,104,1640,2596
80,18850,5.1,80.21,105,1641,2597
81,21287,4.7,81.21,106,1642,2598
82,20242,5.0,82.21,107,1643,2599
83,20380,5.1,83.21,108,1644,2600
84,17067,4.5,84.21,109,1645,2601
85,19539,4.7,85.21,110,1646,2602
86,14713,5.1,86.21,111,1647,2603
87,15264,4.7,87.21,112,1648,2604
88,21622,5.0,88.21,113,1649,2605
89,14955,5.1,89.21,114,1650,2606
90,14665,4.5,90.21,115,1651,2467
91,19954,4.7,91.21,116,1652,2468
92,14252,5.0,92.21,117,1653,2469
93,15112,5.1,93.21,118,1654,2470
94,19406,4.7,94.21,119,1655,2471
95,14064,5.0,95.21,120,1656,2472
96,17051,4.7,96.21,121,1657,2473
97,17002,5.0,97.21,122,1658,2474
98,14955,5.1,98.21,123,1659,2475
99,14665,4.7,99.21,124,1660,2476
100,19954,5.0,100.21,125,1661,2477

In [21]:
#################AdaBoost Classifier Algorithm##################

In [22]:
X=Parameterone.drop('Rice(kg/hectare)',axis=1)
y=Parameterone['Rice(kg/hectare)']

In [23]:
from sklearn.model_selection import train_test_split

In [24]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.70,random_state=70)

In [25]:
from sklearn.linear_model import SGDClassifier

In [26]:
a=SGDClassifier()

In [27]:
a=a.fit(X_train,y_train)

In [28]:
print(a.score(X_test,y_test)*10)

0.0

In [82]:
f.columns

Index(['Year', 'Rice(kg/hectare)', 'Tur', 'Gram', 'Groundnuts', 'Sessasum',
       'Banana', 'Sugarcane', 'Tobacco', 'Maize', 'Potato', 'Wheat',
       'Other Pulses', 'Jute', 'Mesta', 'Coconut'],
      dtype='object')

In [83]:
Crop2=pd.DataFrame(f['Tur'])
Crop3=pd.DataFrame(f['Gram'])
Crop4=pd.DataFrame(f['Groundnuts'])
Crop5=pd.DataFrame(f['Sessasum'])
Crop6=pd.DataFrame(f['Banana'])
Crop7=pd.DataFrame(f['Sugarcane'])
Crop8=pd.DataFrame(f['Tobacco'])
Crop9=pd.DataFrame(f['Maize'])
Crop10=pd.DataFrame(f['Potato'])
Crop11=pd.DataFrame(f['Wheat'])
Crop12=pd.DataFrame(f['Other Pulses'])
Crop13=pd.DataFrame(f['Jute'])
Crop14=pd.DataFrame(f['Mesta'])
Crop15=pd.DataFrame(f['Coconut'])

In [84]:
Parameteronea=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop2],axis=1)
Parameteroneb=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop3],axis=1)
Parameteronec=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop4],axis=1)
Parameteroned=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop5],axis=1)
Parameteronee=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop6],axis=1)
Parameteronef=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop7],axis=1)
Parameteroneg=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop8],axis=1)
Parameteroneh=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop9],axis=1)
Parameteronei=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop10],axis=1)
Parameteronej=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop11],axis=1)
Parameteronek=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop12],axis=1)
Parameteronel=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop13],axis=1)
Parameteronem=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop14],axis=1)
Parameteronen=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop15],axis=1)

In [85]:
X1=Parameteronea.drop('Tur',axis=1)
y1=Parameteronea['Tur']

X2=Parameteroneb.drop('Gram',axis=1)
y2=Parameteroneb['Gram']

X3=Parameteronec.drop('Groundnuts',axis=1)
y3=Parameteronec['Groundnuts']

X4=Parameteroned.drop('Sessasum',axis=1)
y4=Parameteroned['Sessasum']

X5=Parameteronee.drop('Banana',axis=1)
y5=Parameteronee['Banana']

X6=Parameteronef.drop('Sugarcane',axis=1)
y6=Parameteronef['Sugarcane']

X7=Parameteroneg.drop('Tobacco',axis=1)
y7=Parameteroneg['Tobacco']

X8=Parameteroneh.drop('Maize',axis=1)
y8=Parameteroneh['Maize']

X9=Parameteronei.drop('Potato',axis=1)
y9=Parameteronei['Potato']

X10=Parameteronej.drop('Wheat',axis=1)
y10=Parameteronej['Wheat']

X11=Parameteronek.drop('Other Pulses',axis=1)
y11=Parameteronek['Other Pulses']

X12=Parameteronel.drop('Jute',axis=1)
y12=Parameteronel['Jute']

X13=Parameteronem.drop('Mesta',axis=1)
y13=Parameteronem['Mesta']

X14=Parameteronen.drop('Coconut',axis=1)
y14=Parameteronen['Coconut']

In [86]:
from sklearn.model_selection import train_test_split

In [87]:
X_train1, X_test1, y_train1, y_test1 = train_test_split(X1, y1, test_size=0.70,random_state=70)
X_train2, X_test2, y_train2, y_test2 = train_test_split(X2, y2, test_size=0.70,random_state=70)
X_train3, X_test3, y_train3, y_test3 = train_test_split(X3, y3, test_size=0.70,random_state=70)
X_train4, X_test4, y_train4, y_test4 = train_test_split(X4, y4, test_size=0.70,random_state=70)
X_train5, X_test5, y_train5, y_test5 = train_test_split(X5, y5, test_size=0.70,random_state=70)
X_train6, X_test6, y_train6, y_test6 = train_test_split(X6, y6, test_size=0.70,random_state=70)
X_train7, X_test7, y_train7, y_test7 = train_test_split(X7, y7, test_size=0.70,random_state=70)
X_train8, X_test8, y_train8, y_test8 = train_test_split(X8, y8, test_size=0.70,random_state=70)
X_train9, X_test9, y_train9, y_test9 = train_test_split(X9, y9, test_size=0.70,random_state=70)
X_train10, X_test10, y_train10, y_test10 = train_test_split(X10, y10, test_size=0.70,random_state=70)
X_train11, X_test11, y_train11, y_test11 = train_test_split(X11, y11, test_size=0.70,random_state=70)
X_train12, X_test12, y_train12, y_test12 = train_test_split(X12, y12, test_size=0.70,random_state=70)
X_train13, X_test13, y_train13, y_test13 = train_test_split(X13, y13, test_size=0.70,random_state=70)
X_train14, X_test14, y_train14, y_test14 = train_test_split(X14, y14, test_size=0.70,random_state=70)

In [88]:
from sklearn.linear_model import SGDClassifier

In [89]:
b=SGDClassifier()
c=SGDClassifier()
d=SGDClassifier()
e=SGDClassifier()
f=SGDClassifier()
g=SGDClassifier()
h=SGDClassifier()
i=SGDClassifier()
j=SGDClassifier()
k=SGDClassifier()
l=SGDClassifier()
m=SGDClassifier()
n=SGDClassifier()
o=SGDClassifier()

In [90]:
b.fit(X_train1,y_train1)
c.fit(X_train2,y_train2)
d.fit(X_train3,y_train3)
e.fit(X_train4,y_train4)
f.fit(X_train5,y_train5)
g.fit(X_train6,y_train6)
h.fit(X_train7,y_train7)
i.fit(X_train8,y_train8)
j.fit(X_train9,y_train9)
k.fit(X_train10,y_train10)
l.fit(X_train11,y_train11)
m.fit(X_train12,y_train12)
n.fit(X_train13,y_train13)
o.fit(X_train14,y_train14)

AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None,
          learning_rate=1.0, n_estimators=50, random_state=None)

In [91]:
print(b.score(X_test1,y_test1)*10)
print(c.score(X_test2,y_test2)*10)
print(d.score(X_test3,y_test3)*10)
print(e.score(X_test4,y_test4)*10)
print(f.score(X_test5,y_test5)*10)
print(g.score(X_test6,y_test6))
print(h.score(X_test7,y_test7)*10)
print(i.score(X_test8,y_test8))
print(j.score(X_test9,y_test9)*10)
print(k.score(X_test10,y_test10)*10)
print(l.score(X_test11,y_test11))
print(m.score(X_test12,y_test12)*10)
print(n.score(X_test13,y_test13))
print(o.score(X_test14,y_test14)*10)

0.14084507042253522
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
10.0
0.0
8.873239436619718