In [1]:
import numpy as np
import pandas as pd

In [2]:
a=pd.read_csv('climate Test1.csv')
b=pd.read_csv('Soil Test1.csv')
c=pd.read_csv('groundwater Test1.csv')
d=pd.read_csv('Fertilizers Test1.csv')
e=pd.read_csv('Pesticides Test1.csv')
f=pd.read_csv('Crop data Test1.csv')

In [3]:
climate=pd.DataFrame(a[' Rainfall'])

In [4]:
Soil=pd.DataFrame(b['Ph'])

In [5]:
Water=pd.DataFrame(c['Rise (Depth of Water)'])

In [6]:
Fertilizer=pd.DataFrame(d['NPK(tonnes)'])

In [7]:
Pesticides=pd.DataFrame(e['MALATHION(QTY)(kg)'])

In [8]:
Crop=pd.DataFrame(f['Rice(kg/hectare)'])

In [9]:
Parameterone=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop],axis=1)

In [10]:
Parameterone

,Rainfall,Ph,Rise (Depth of Water),NPK(tonnes),MALATHION(QTY)(kg),Rice(kg/hectare)
0,26404,5.0,30.47,7,1784,1851
1,23495,4.1,31.47,7,1785,1852
2,26305,5.0,32.47,7,1786,1853
3,28232,4.1,33.47,7,1787,1854
4,25402,5.0,34.47,7,1788,1855
5,23802,4.5,35.47,7,1789,1856
6,26130,5.0,36.47,7,1790,1857
7,26404,4.5,37.47,7,1791,1858
8,21886,5.0,38.47,7,1792,1859
9,22314,4.1,39.47,7,1793,1860
10,26404,5.0,40.47,7,1794,1861
11,22945,4.5,41.47,7,1795,1862
12,22910,5.0,42.47,7,1796,1863
13,21979,4.1,43.47,7,1797,1864
14,19279,5.0,44.47,7,1798,1865
15,24109,4.1,45.47,7,1799,1866
16,24657,5.0,46.47,7,1800,1867
17,22085,4.1,47.47,7,1801,1868
18,26257,5.0,48.47,7,1802,1869
19,19491,4.5,49.47,7,1803,1870
20,22825,5.0,50.47,7,1804,1871
21,21176,4.1,51.47,7,1805,1872
22,26962,5.0,52.47,7,1806,1873
23,20890,4.1,53.47,7,1807,1874
24,20406,5.0,54.47,7,1808,1875
25,25580,4.5,55.47,7,1809,1876
26,28358,5.0,56.47,7,1810,1877
27,19520,4.5,57.47,7,1811,1878
28,22354,5.0,58.47,7,1812,1879
29,25974,4.1,59.47,7,1813,1880
30,18671,5.0,60.47,7,1814,1881

In [13]:
#################AdaBoost Classifier Algorithm##################

X=Parameterone.drop('Rice(kg/hectare)',axis=1)
y=Parameterone['Rice(kg/hectare)']

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.70,random_state=70)

from sklearn.naive_bayes import BernoulliNB

a=BernoulliNB()

a=a.fit(X_train,y_train)

print(a.score(X_test,y_test)*10)



Crop2=pd.DataFrame(f['Small Millets'])
Crop3=pd.DataFrame(f['Tur '])
Crop4=pd.DataFrame(f['Gram'])
Crop5=pd.DataFrame(f['Sessasum'])
Crop6=pd.DataFrame(f['Banana'])
Crop7=pd.DataFrame(f['Sugarcane'])
Crop8=pd.DataFrame(f['Tobacco'])
Crop9=pd.DataFrame(f['Chillies'])
Crop10=pd.DataFrame(f['Ginger'])
Crop11=pd.DataFrame(f['Tumeric'])
Crop12=pd.DataFrame(f['Maize'])
Crop13=pd.DataFrame(f['Potato'])
Crop14=pd.DataFrame(f['Wheat'])
Crop15=pd.DataFrame(f['Other Pulses'])
Crop16=pd.DataFrame(f['Jute '])
Crop17=pd.DataFrame(f['Mesta'])
Crop18=pd.DataFrame(f['Pepper'])

Parameteronea=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop2],axis=1)
Parameteroneb=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop3],axis=1)
Parameteronec=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop4],axis=1)
Parameteroned=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop5],axis=1)
Parameteronee=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop6],axis=1)
Parameteronef=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop7],axis=1)
Parameteroneg=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop8],axis=1)
Parameteroneh=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop9],axis=1)
Parameteronei=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop10],axis=1)
Parameteronej=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop11],axis=1)
Parameteronek=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop12],axis=1)
Parameteronel=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop13],axis=1)
Parameteronem=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop14],axis=1)
Parameteronen=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop15],axis=1)
Parameteroneo=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop16],axis=1)
Parameteronep=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop17],axis=1)
Parameteroneq=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop18],axis=1)


X1=Parameteronea.drop('Small Millets',axis=1)
y1=Parameteronea['Small Millets']

X2=Parameteroneb.drop('Tur ',axis=1)
y2=Parameteroneb['Tur ']

X3=Parameteronec.drop('Gram',axis=1)
y3=Parameteronec['Gram']

X4=Parameteroned.drop('Sessasum',axis=1)
y4=Parameteroned['Sessasum']

X5=Parameteronee.drop('Banana',axis=1)
y5=Parameteronee['Banana']

X6=Parameteronef.drop('Sugarcane',axis=1)
y6=Parameteronef['Sugarcane']

X7=Parameteroneg.drop('Tobacco',axis=1)
y7=Parameteroneg['Tobacco']

X8=Parameteroneh.drop('Chillies',axis=1)
y8=Parameteroneh['Chillies']

X9=Parameteronei.drop('Ginger',axis=1)
y9=Parameteronei['Ginger']

X10=Parameteronej.drop('Tumeric',axis=1)
y10=Parameteronej['Tumeric']

X11=Parameteronek.drop('Maize',axis=1)
y11=Parameteronek['Maize']

X12=Parameteronel.drop('Potato',axis=1)
y12=Parameteronel['Potato']

X13=Parameteronem.drop('Wheat',axis=1)
y13=Parameteronem['Wheat']

X14=Parameteronen.drop('Other Pulses',axis=1)
y14=Parameteronen['Other Pulses']

X15=Parameteroneo.drop('Jute ',axis=1)
y15=Parameteroneo['Jute ']

X16=Parameteronep.drop('Mesta',axis=1)
y16=Parameteronep['Mesta']

X17=Parameteroneq.drop('Pepper',axis=1)
y17=Parameteroneq['Pepper']

from sklearn.model_selection import train_test_split

X_train1, X_test1, y_train1, y_test1 = train_test_split(X1, y1, test_size=0.70,random_state=70)
X_train2, X_test2, y_train2, y_test2 = train_test_split(X2, y2, test_size=0.70,random_state=70)
X_train3, X_test3, y_train3, y_test3 = train_test_split(X3, y3, test_size=0.70,random_state=70)
X_train4, X_test4, y_train4, y_test4 = train_test_split(X4, y4, test_size=0.70,random_state=70)
X_train5, X_test5, y_train5, y_test5 = train_test_split(X5, y5, test_size=0.70,random_state=70)
X_train6, X_test6, y_train6, y_test6 = train_test_split(X6, y6, test_size=0.70,random_state=70)
X_train7, X_test7, y_train7, y_test7 = train_test_split(X7, y7, test_size=0.70,random_state=70)
X_train8, X_test8, y_train8, y_test8 = train_test_split(X8, y8, test_size=0.70,random_state=70)
X_train9, X_test9, y_train9, y_test9 = train_test_split(X9, y9, test_size=0.70,random_state=70)
X_train10, X_test10, y_train10, y_test10 = train_test_split(X10, y10, test_size=0.70,random_state=70)
X_train11, X_test11, y_train11, y_test11 = train_test_split(X11, y11, test_size=0.70,random_state=70)
X_train12, X_test12, y_train12, y_test12 = train_test_split(X12, y12, test_size=0.70,random_state=70)
X_train13, X_test13, y_train13, y_test13 = train_test_split(X13, y13, test_size=0.70,random_state=70)
X_train14, X_test14, y_train14, y_test14 = train_test_split(X14, y14, test_size=0.70,random_state=70)
X_train15, X_test15, y_train15, y_test15 = train_test_split(X15, y15, test_size=0.70,random_state=70)
X_train16, X_test16, y_train16, y_test16 = train_test_split(X16, y16, test_size=0.70,random_state=70)
X_train17, X_test17, y_train17, y_test17 = train_test_split(X17, y17, test_size=0.70,random_state=70)



from sklearn.naive_bayes import BernoulliNB

b=BernoulliNB()
c=BernoulliNB()
d=BernoulliNB()
e=BernoulliNB()
f=BernoulliNB()
g=BernoulliNB()
h=BernoulliNB()
i=BernoulliNB()
j=BernoulliNB()
k=BernoulliNB()
l=BernoulliNB()
m=BernoulliNB()
n=BernoulliNB()
o=BernoulliNB()
p=BernoulliNB()
q=BernoulliNB()
r=BernoulliNB()
s=BernoulliNB()

b.fit(X_train1,y_train1)
c.fit(X_train2,y_train2)
d.fit(X_train3,y_train3)
e.fit(X_train4,y_train4)
f.fit(X_train5,y_train5)
g.fit(X_train6,y_train6)
h.fit(X_train7,y_train7)
i.fit(X_train8,y_train8)
j.fit(X_train9,y_train9)
k.fit(X_train10,y_train10)
l.fit(X_train11,y_train11)
m.fit(X_train12,y_train12)
n.fit(X_train13,y_train13)
o.fit(X_train14,y_train14)
p.fit(X_train15,y_train15)
q.fit(X_train16,y_train16)
r.fit(X_train17,y_train17)


print(b.score(X_test1,y_test1)*10)
print(c.score(X_test2,y_test2)*10)
print(d.score(X_test3,y_test3)*10)
print(e.score(X_test4,y_test4)*10)
print(f.score(X_test5,y_test5)*10)
print(g.score(X_test6,y_test6))
print(h.score(X_test7,y_test7)*10)
print(i.score(X_test8,y_test8))
print(j.score(X_test9,y_test9)*10)
print(k.score(X_test10,y_test10)*10)
print(l.score(X_test11,y_test11))
print(m.score(X_test12,y_test12))
print(n.score(X_test13,y_test13))
print(o.score(X_test14,y_test14)*10)
print(p.score(X_test15,y_test15)*10)
print(q.score(X_test16,y_test16))
print(r.score(X_test17,y_test17)*10)

0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
1.0
10.0
10.0
0.0
0.0
0.0
0.0
0.0
0.0
10.0