In [28]:
import numpy as np
import pandas as pd

In [29]:
a=pd.read_csv('climate Test1.csv')
b=pd.read_csv('Soil Test1.csv')
c=pd.read_csv('groundwater Test1.csv')
d=pd.read_csv('Fertilizers Test1.csv')
e=pd.read_csv('Pesticides Test1.csv')
f=pd.read_csv('Crop data Test1.csv')

In [30]:
climate=pd.DataFrame(a[' Rainfall'])

In [31]:
Soil=pd.DataFrame(b['Ph'])

In [32]:
Water=pd.DataFrame(c['Rise (Depth of Water)'])

In [33]:
Fertilizer=pd.DataFrame(d['NPK(tonnes)'])

In [34]:
Pesticides=pd.DataFrame(e['MALATHION(QTY)(kg)'])

In [35]:
Crop=pd.DataFrame(f['Rice(kg/hectare)'])

In [36]:
Parameterone=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop],axis=1)

In [37]:
Parameterone

,Rainfall,Ph,Rise (Depth of Water),NPK(tonnes),MALATHION(QTY)(kg),Rice(kg/hectare)
0,23353,6.0,0.1,11,1785,2029
1,28932,5.1,0.1,11,1786,2030
2,19808,5.1,0.1,11,1787,2031
3,30377,4.8,0.1,11,1788,2032
4,34321,5.0,0.1,11,1789,2033
5,35253,5.9,0.1,11,1790,2034
6,31559,6.0,0.1,11,1791,2035
7,26249,5.1,0.1,11,1792,2036
8,36011,4.8,0.1,11,1793,2037
9,29307,5.0,0.1,11,1794,2038
10,25392,5.1,0.1,11,1795,2039
11,32155,4.8,0.1,11,1796,2040
12,27553,5.0,0.1,11,1797,2041
13,32014,5.9,0.1,11,1798,2042
14,27841,6.0,0.1,11,1799,2043
15,21708,5.1,0.1,11,1800,2044
16,21689,4.8,0.1,11,1801,2045
17,25372,6.0,0.1,11,1802,2046
18,17311,5.1,0.1,11,1803,2047
19,26891,4.8,0.1,11,1804,2048
20,29822,5.0,0.1,11,1805,2049
21,23361,5.9,0.1,11,1806,2050
22,16624,6.0,0.1,11,1807,2051
23,25556,5.1,0.1,11,1808,2052
24,27734,4.8,0.1,11,1809,2053
25,31877,5.0,0.1,11,1810,2054
26,25024,5.1,0.1,11,1811,2055
27,27193,4.8,0.1,11,1812,2056
28,27960,5.0,0.1,11,1813,2057
29,23294,5.9,0.1,11,1814,2058
30,23338,5.1,0.1,11,1815,2059

In [38]:
#################Ada Boost Classifier##################

In [39]:
X=Parameterone.drop('Rice(kg/hectare)',axis=1)
y=Parameterone['Rice(kg/hectare)']

In [40]:
Parameterone.columns

Index([' Rainfall', 'Ph', 'Rise (Depth of Water)', 'NPK(tonnes)',
       'MALATHION(QTY)(kg)', 'Rice(kg/hectare)'],
      dtype='object')

In [41]:
from sklearn.model_selection import train_test_split

In [42]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.70,random_state=70)

In [43]:
from sklearn.linear_model import SGDClassifier

In [44]:
a=SGDClassifier()

In [45]:
a=a.fit(X_train,y_train)

In [46]:
print(a.score(X_test,y_test)*10)

0.0

In [47]:
f.columns

Index(['Year', 'Rice(kg/hectare)', 'Ragi', 'Groundnuts', 'Sugarcane',
       'Other Pulses', 'Banana', 'Coconut', 'Pepper'],
      dtype='object')

In [48]:
Crop2=pd.DataFrame(f['Ragi'])
Crop3=pd.DataFrame(f['Groundnuts'])
Crop4=pd.DataFrame(f['Sugarcane'])
Crop5=pd.DataFrame(f['Other Pulses'])
Crop6=pd.DataFrame(f['Banana'])
Crop7=pd.DataFrame(f['Coconut'])
Crop8=pd.DataFrame(f['Pepper'])

In [49]:
Parameteronea=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop2],axis=1)
Parameteroneb=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop3],axis=1)
Parameteronec=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop4],axis=1)
Parameteroned=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop5],axis=1)
Parameteronee=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop6],axis=1)
Parameteronef=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop7],axis=1)
Parameteroneg=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop8],axis=1)

In [50]:

X1=Parameteronea.drop('Ragi',axis=1)
y1=Parameteronea['Ragi']

X2=Parameteroneb.drop('Groundnuts',axis=1)
y2=Parameteroneb['Groundnuts']

X3=Parameteronec.drop('Sugarcane',axis=1)
y3=Parameteronec['Sugarcane']

X4=Parameteroned.drop('Other Pulses',axis=1)
y4=Parameteroned['Other Pulses']

X5=Parameteronee.drop('Banana',axis=1)
y5=Parameteronee['Banana']

X6=Parameteronef.drop('Coconut',axis=1)
y6=Parameteronef['Coconut']

X7=Parameteroneg.drop('Pepper',axis=1)
y7=Parameteroneg['Pepper']

In [51]:
from sklearn.model_selection import train_test_split

In [52]:
X_train1, X_test1, y_train1, y_test1 = train_test_split(X1, y1, test_size=0.70,random_state=70)
X_train2, X_test2, y_train2, y_test2 = train_test_split(X2, y2, test_size=0.70,random_state=70)
X_train3, X_test3, y_train3, y_test3 = train_test_split(X3, y3, test_size=0.70,random_state=70)
X_train4, X_test4, y_train4, y_test4 = train_test_split(X4, y4, test_size=0.70,random_state=70)
X_train5, X_test5, y_train5, y_test5 = train_test_split(X5, y5, test_size=0.70,random_state=70)
X_train6, X_test6, y_train6, y_test6 = train_test_split(X6, y6, test_size=0.70,random_state=70)
X_train7, X_test7, y_train7, y_test7 = train_test_split(X7, y7, test_size=0.70,random_state=70)

In [53]:
from sklearn.linear_model import SGDClassifier

In [54]:
a=SGDClassifier()
b=SGDClassifier()
c=SGDClassifier()
d=SGDClassifier()
e=SGDClassifier()
f=SGDClassifier()
g=SGDClassifier()

In [55]:
a.fit(X_train1,y_train1)
b.fit(X_train2,y_train2)
c.fit(X_train3,y_train3)
d.fit(X_train4,y_train4)
e.fit(X_train5,y_train5)
f.fit(X_train6,y_train6)
g.fit(X_train7,y_train7)

AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None,
          learning_rate=1.0, n_estimators=50, random_state=None)

In [56]:
print(a.score(X_test1,y_test1)*10)
print(b.score(X_test2,y_test2)*10)
print(c.score(X_test3,y_test3)*10)
print(d.score(X_test4,y_test4)*10)
print(e.score(X_test5,y_test5)*10)
print(f.score(X_test6,y_test6))
print(g.score(X_test7,y_test7)*10)

0.0
0.0
0.0
0.0
0.0
1.0
10.0