In [1]:
import numpy as np
import pandas as pd

In [2]:
a=pd.read_csv('MG climate.csv')
b=pd.read_csv('MG Soil.csv')
c=pd.read_csv('MG_groundwater.csv')
d=pd.read_csv('MG_Fertilizers.csv')
e=pd.read_csv('MG Pesticides.csv')
f=pd.read_csv('MG Crop data.csv')

In [3]:
climate=pd.DataFrame(a['Rainfall'])

In [4]:
Soil=pd.DataFrame(b['Ph'])

In [5]:
Water=pd.DataFrame(c['Rise (Depth of Water)'])

In [6]:
Fertilizer=pd.DataFrame(d['NPK(tonnes)'])

In [7]:
Pesticides=pd.DataFrame(e['MALATHION(QTY)(kg)'])

In [8]:
Crop=pd.DataFrame(f['Rice(kg/hectare)'])

In [9]:
Parameterone=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop],axis=1)

In [10]:
Parameterone

,Rainfall,Ph,Rise (Depth of Water),NPK(tonnes),MALATHION(QTY)(kg),Rice(kg/hectare)
0,21951,5.0,0.47,7,1754,1821
1,26530,4.5,1.47,7,1755,1822
2,19875,5.0,2.47,7,1756,1823
3,21754,4.1,3.47,7,1757,1824
4,24261,5.0,4.47,7,1758,1825
5,22040,4.5,5.47,7,1759,1826
6,22654,5.0,6.47,7,1760,1827
7,24955,4.1,7.47,7,1761,1828
8,23439,5.0,8.47,7,1762,1829
9,26571,4.1,9.47,7,1763,1830
10,22781,5.0,10.47,7,1764,1831
11,25400,4.5,11.47,7,1765,1832
12,24890,5.0,12.47,7,1766,1833
13,21208,4.5,13.47,7,1767,1834
14,28419,5.0,14.47,7,1768,1835
15,22396,4.1,15.47,7,1769,1836
16,24282,5.0,16.47,7,1770,1837
17,21871,4.5,17.47,7,1771,1838
18,24591,5.0,18.47,7,1772,1839
19,21922,4.1,19.47,7,1773,1840
20,22630,5.0,20.47,7,1774,1841
21,24020,4.1,21.47,7,1775,1842
22,24535,5.0,22.47,7,1776,1843
23,25332,4.5,23.47,7,1777,1844
24,22209,5.0,24.47,7,1778,1845
25,25004,4.5,25.47,7,1779,1846
26,26492,5.0,26.47,7,1780,1847
27,28273,4.1,27.47,7,1781,1848
28,30849,5.0,28.47,7,1782,1849
29,26337,4.5,29.47,7,1783,1850
...,...,...,...,...,...,...
71,25418,4.1,71.47,7,1825,1892
72,22077,5.0,72.47,7,1826,1893
73,26282,4.5,73.47,7,1827,1894
74,21614,5.0,74.47,7,1828,1895
75,27766,4.1,75.47,7,1829,1896
76,22905,5.0,76.47,7,1830,1897
77,22977,4.1,77.47,7,1831,1898
78,23049,5.0,78.47,7,1832,1899
79,21724,4.5,79.47,7,1833,1900
80,23740,5.0,80.47,7,1834,1901
81,22746,4.5,81.47,7,1835,1902
82,23470,5.0,82.47,7,1836,1903
83,19954,4.1,83.47,7,1837,1904
84,22495,5.0,84.47,7,1838,1905
85,21744,4.5,85.47,7,1839,1906
86,26917,5.0,86.47,7,1840,1907
87,23473,4.1,87.47,7,1841,1908
88,18246,5.0,88.47,7,1842,1909
89,25411,4.1,89.47,7,1843,1910
90,22685,5.0,90.47,7,1844,2013
91,19327,4.1,91.47,7,1845,2106
92,24586,5.0,92.47,7,1846,1909
93,17799,4.5,93.47,7,1847,1901
94,22680,5.0,94.47,7,1848,1902
95,18055,4.1,95.47,7,1849,1903
96,18863,5.0,96.47,7,1850,1904
97,22773,4.1,97.47,7,1851,1905
98,22685,5.0,98.47,7,1852,1906
99,19327,5.0,99.47,7,1853,1907
100,24586,4.5,100.47,7,1854,1908

In [11]:
#################AdaBoost Classifier Algorithm##################

In [12]:
X=Parameterone.drop('Rice(kg/hectare)',axis=1)
y=Parameterone['Rice(kg/hectare)']

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.70,random_state=70)

In [15]:
from sklearn.tree import DecisionTreeClassifier

In [16]:
a=DecisionTreeClassifier()

In [17]:
a=a.fit(X_train,y_train)

In [18]:
print(a.score(X_test,y_test)*10)

0.0

In [19]:
f.columns

Index(['Year', 'Rice(kg/hectare)', 'Small Millets', 'Tur', 'Gram', 'Sessasum',
       'Banana', 'Sugarcane', 'Tobacco', 'Chillies', 'Ginger', 'Tumeric',
       'Maize', 'Potato', 'Wheat', 'Other Pulses', 'Jute', 'Mesta', 'Pepper'],
      dtype='object')

In [20]:
Crop2=pd.DataFrame(f['Small Millets'])
Crop3=pd.DataFrame(f['Tur'])
Crop4=pd.DataFrame(f['Gram'])
Crop5=pd.DataFrame(f['Sessasum'])
Crop6=pd.DataFrame(f['Banana'])
Crop7=pd.DataFrame(f['Sugarcane'])
Crop8=pd.DataFrame(f['Tobacco'])
Crop9=pd.DataFrame(f['Chillies'])
Crop10=pd.DataFrame(f['Ginger'])
Crop11=pd.DataFrame(f['Tumeric'])
Crop12=pd.DataFrame(f['Maize'])
Crop13=pd.DataFrame(f['Potato'])
Crop14=pd.DataFrame(f['Wheat'])
Crop15=pd.DataFrame(f['Other Pulses'])
Crop16=pd.DataFrame(f['Jute'])
Crop17=pd.DataFrame(f['Mesta'])
Crop18=pd.DataFrame(f['Pepper'])

In [22]:
Parameteronea=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop2],axis=1)
Parameteroneb=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop3],axis=1)
Parameteronec=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop4],axis=1)
Parameteroned=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop5],axis=1)
Parameteronee=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop6],axis=1)
Parameteronef=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop7],axis=1)
Parameteroneg=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop8],axis=1)
Parameteroneh=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop9],axis=1)
Parameteronei=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop10],axis=1)
Parameteronej=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop11],axis=1)
Parameteronek=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop12],axis=1)
Parameteronel=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop13],axis=1)
Parameteronem=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop14],axis=1)
Parameteronen=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop15],axis=1)
Parameteroneo=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop16],axis=1)
Parameteronep=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop17],axis=1)
Parameteroneq=pd.concat([climate,Soil,Water,Fertilizer,Pesticides,Crop18],axis=1)

In [23]:
X1=Parameteronea.drop('Small Millets',axis=1)
y1=Parameteronea['Small Millets']

X2=Parameteroneb.drop('Tur',axis=1)
y2=Parameteroneb['Tur']

X3=Parameteronec.drop('Gram',axis=1)
y3=Parameteronec['Gram']

X4=Parameteroned.drop('Sessasum',axis=1)
y4=Parameteroned['Sessasum']

X5=Parameteronee.drop('Banana',axis=1)
y5=Parameteronee['Banana']

X6=Parameteronef.drop('Sugarcane',axis=1)
y6=Parameteronef['Sugarcane']

X7=Parameteroneg.drop('Tobacco',axis=1)
y7=Parameteroneg['Tobacco']

X8=Parameteroneh.drop('Chillies',axis=1)
y8=Parameteroneh['Chillies']

X9=Parameteronei.drop('Ginger',axis=1)
y9=Parameteronei['Ginger']

X10=Parameteronej.drop('Tumeric',axis=1)
y10=Parameteronej['Tumeric']

X11=Parameteronek.drop('Maize',axis=1)
y11=Parameteronek['Maize']

X12=Parameteronel.drop('Potato',axis=1)
y12=Parameteronel['Potato']

X13=Parameteronem.drop('Wheat',axis=1)
y13=Parameteronem['Wheat']

X14=Parameteronen.drop('Other Pulses',axis=1)
y14=Parameteronen['Other Pulses']

X15=Parameteroneo.drop('Jute',axis=1)
y15=Parameteroneo['Jute']

X16=Parameteronep.drop('Mesta',axis=1)
y16=Parameteronep['Mesta']

X17=Parameteroneq.drop('Pepper',axis=1)
y17=Parameteroneq['Pepper']

In [24]:
from sklearn.model_selection import train_test_split

In [25]:
X_train1, X_test1, y_train1, y_test1 = train_test_split(X1, y1, test_size=0.70,random_state=70)
X_train2, X_test2, y_train2, y_test2 = train_test_split(X2, y2, test_size=0.70,random_state=70)
X_train3, X_test3, y_train3, y_test3 = train_test_split(X3, y3, test_size=0.70,random_state=70)
X_train4, X_test4, y_train4, y_test4 = train_test_split(X4, y4, test_size=0.70,random_state=70)
X_train5, X_test5, y_train5, y_test5 = train_test_split(X5, y5, test_size=0.70,random_state=70)
X_train6, X_test6, y_train6, y_test6 = train_test_split(X6, y6, test_size=0.70,random_state=70)
X_train7, X_test7, y_train7, y_test7 = train_test_split(X7, y7, test_size=0.70,random_state=70)
X_train8, X_test8, y_train8, y_test8 = train_test_split(X8, y8, test_size=0.70,random_state=70)
X_train9, X_test9, y_train9, y_test9 = train_test_split(X9, y9, test_size=0.70,random_state=70)
X_train10, X_test10, y_train10, y_test10 = train_test_split(X10, y10, test_size=0.70,random_state=70)
X_train11, X_test11, y_train11, y_test11 = train_test_split(X11, y11, test_size=0.70,random_state=70)
X_train12, X_test12, y_train12, y_test12 = train_test_split(X12, y12, test_size=0.70,random_state=70)
X_train13, X_test13, y_train13, y_test13 = train_test_split(X13, y13, test_size=0.70,random_state=70)
X_train14, X_test14, y_train14, y_test14 = train_test_split(X14, y14, test_size=0.70,random_state=70)
X_train15, X_test15, y_train15, y_test15 = train_test_split(X15, y15, test_size=0.70,random_state=70)
X_train16, X_test16, y_train16, y_test16 = train_test_split(X16, y16, test_size=0.70,random_state=70)
X_train17, X_test17, y_train17, y_test17 = train_test_split(X17, y17, test_size=0.70,random_state=70)

In [26]:
from sklearn.tree import DecisionTreeClassifier

In [27]:
b=DecisionTreeClassifier()
c=DecisionTreeClassifier()
d=DecisionTreeClassifier()
e=DecisionTreeClassifier()
f=DecisionTreeClassifier()
g=DecisionTreeClassifier()
h=DecisionTreeClassifier()
i=DecisionTreeClassifier()
j=DecisionTreeClassifier()
k=DecisionTreeClassifier()
l=DecisionTreeClassifier()
m=DecisionTreeClassifier()
n=DecisionTreeClassifier()
o=DecisionTreeClassifier()
p=DecisionTreeClassifier()
q=DecisionTreeClassifier()
r=DecisionTreeClassifier()
s=DecisionTreeClassifier()

In [28]:
b.fit(X_train1,y_train1)
c.fit(X_train2,y_train2)
d.fit(X_train3,y_train3)
e.fit(X_train4,y_train4)
f.fit(X_train5,y_train5)
g.fit(X_train6,y_train6)
h.fit(X_train7,y_train7)
i.fit(X_train8,y_train8)
j.fit(X_train9,y_train9)
k.fit(X_train10,y_train10)
l.fit(X_train11,y_train11)
m.fit(X_train12,y_train12)
n.fit(X_train13,y_train13)
o.fit(X_train14,y_train14)
p.fit(X_train15,y_train15)
q.fit(X_train16,y_train16)
r.fit(X_train17,y_train17)

AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None,
          learning_rate=1.0, n_estimators=50, random_state=None)

In [29]:
print(b.score(X_test1,y_test1)*10)
print(c.score(X_test2,y_test2)*10)
print(d.score(X_test3,y_test3)*10)
print(e.score(X_test4,y_test4)*10)
print(f.score(X_test5,y_test5)*10)
print(g.score(X_test6,y_test6))
print(h.score(X_test7,y_test7)*10)
print(i.score(X_test8,y_test8))
print(j.score(X_test9,y_test9)*10)
print(k.score(X_test10,y_test10)*10)
print(l.score(X_test11,y_test11))
print(m.score(X_test12,y_test12))
print(n.score(X_test13,y_test13))
print(o.score(X_test14,y_test14)*10)
print(p.score(X_test15,y_test15)*10)
print(q.score(X_test16,y_test16))
print(r.score(X_test17,y_test17)*10)

0.0
0.0
0.0
0.0
0.0
0.0
0.0
1.0
8.873239436619718
9.014084507042254
0.0
0.0
0.0
0.0
0.0
0.0
9.577464788732394